[2020-06-22 06:24] hassanhabib opened #1 "Discuss Student Model"
We need to conceptualize what a foundational student model properties are supposed to have.
Currently I'm thinking of the following:
[code]

If you think we need to add more or remove some of the aforementioned properties let's discuss, let us know what you think.
The current model will be locked for development by the end of the week on 28th of June 2020

[2020-06-22 07:57] devmanzur commented on #1
ContactNumber, GuradianName, ClassTeacher, CurrentClass, RoleNumber,

[2020-06-22 07:58] tajwal commented on #1
FatherName,Fathers email and mobile and gender.

[2020-06-22 08:02] HatemGamal commented on #1
- the student's age when joined, religion, nationality, preferred language
- kin information
- Whether Handicap or not
- Other Notes to specific any disabilities or others

[2020-06-22 08:06] devmanzur commented on #1
I'd say the date of birth would be more applicable instead of age.

[2020-06-22 08:08] hassanhabib commented on #1
I agree the date of birth is more dynamic than a static value that will require updating as time passes.

[2020-06-22 08:09] hassanhabib commented on #1
@tajwal I wonder if these values should be in a different related entity, not directly in the main student entity.

[2020-06-22 08:41] HatemGamal commented on #1
- A flag to show if the student is active or not. Reasons for being not active: graduation, disciplinary action, death... etc.
- Make a relation to siblings students.

[2020-06-22 08:44] tajwal opened #2 "> FatherName,Fathers email and mobile and gender of student."
@tajwal I wonder if these values should be in a different related entity, not directly in the main student entity.

_Originally posted by @hassanhabib in https://github.com/hassanhabib/OtripleS/issues/1#issuecomment-647358292_

[2020-06-22 08:54] tajwal commented on #1
Mr @hassanhabib, agrees with you In case we wants to have more relatives of a student then we can have an entity which will have one to many relation with student and will store more information like relation(father, brother, mother,..), First name,Last name,mobile,email, type(primary/secondary).

[2020-06-22 09:18] tajwal commented on #1
Mr @hassanhabib, Agrees with you In case when we wants to have more relatives of a student then we can have an entity which will have one to many relation with student and will store more information like relation(father, brother, mother,..), First name,Last name,mobile,email, and may be more columns.

[2020-06-22 11:24] MCCshreyas commented on #1
Better we separate the AuditFields from domain model like last 4 properties from the above student model.
We can introduce a new mode namely `BaseEntity` and can have those fields. So that we can use those fields in other domain models as well like School or Teachers.
[code]
And whenever we need to use this just inherit the domain model from this base class. Like below.

[code]

[2020-06-22 11:36] Driedas commented on #1
As a parent myself, I think that there should be a list of contact people to reach out to in case of issues. Not even just the parents themselves, possibly grandparents or other people (maybe not even necessarily relatives) to be notified as well. I see this more as a m:n contact entity with contact type/relation to student. M;N for cases like having multiple children attending the same school. Ca

[2020-06-22 12:39] ahmetsekmen commented on #1
"StudentLevel" (first class , second third ..)

BaseEntity could be like this also

public class BaseEntity<T>
{
  public virtual T Id { get; set; }
  public DateTimeOffset CreatedDate { get; set; }
  public Guid CreatedBy { get; set; }
  public DateTimeOffset UpdatedDate { get; set; }
  public Guid UpdatedBy { get; set; }
}

[2020-06-22 12:53] MCCshreyas commented on #1
@ahmetsekmen better to make Id as 'Guid' only, rather than taking T as generic one.
Because all users will be having guid as id, I can confirm this by looking at CreatedBy field as it will store guid of user who created that object or record!
So better to have guid explicitly.

[2020-06-22 13:01] ahmetsekmen commented on #1
@MCCshreyas For users(admin,student,teacher..), guid is ok but what if other type of entities which they need audit properties.
Maybe we will decide to choose integer Id for those entities.
just an idea.

[2020-06-22 13:05] MCCshreyas commented on #1
@ahmetsekmen Can you please provide example of other entity that you are trying to refer? That will be helpful for me to understand!

[2020-06-22 13:08] devmanzur commented on #2
This seems to be unintentional, please refer to the original issue. Thanks

[2020-06-22 13:08] #2 closed

[2020-06-22 13:12] ahmetsekmen commented on #1
@MCCshreyas
BaseEntity;
public class BaseEntity< T >
{
 public virtual T Id { get; set; }
 public DateTimeOffset CreatedDate { get; set; }
 public Guid CreatedBy { get; set; }
 public DateTimeOffset UpdatedDate { get; set; }
 public Guid UpdatedBy { get; set; }
}

Here is how we will use;
public class Lesson : BaseEntity< int >
{
	public string LessonName { get; set; }
	public string LessonHour {

[2020-06-22 13:17] devmanzur commented on #1
I guess we all agree that there should be a base entity with the given fields. Let's discuss what other properties do we need in the student entity itself.

[2020-06-22 13:37] devmanzur commented on #1
I guess guardians should be a separate entity itself, with courses, fees etc

[2020-06-22 13:40] devmanzur commented on #1
we may add Admission Date, BatchId/SessionId, StudentImageUrl

[2020-06-22 13:54] MCCshreyas commented on #1
@ahmetsekmen First a fall I need to highlight a thing that we should not use any domain specific property as primary key in database tables.
I can see your Lesson domain entity
Let's say I have following records.
1. Reflection
2. Generics
3. Functions

But let's say in future if school decided to swap those lessons, now they want Functions as first lesson, how will you do it now? As you have lesso

[2020-06-22 14:34] hassanhabib commented on #1
Very good points from everyone - please note that we need to separate additional details entities from information that might be inseparable from the main entity, for instance, a student date of birth is inseparable information,  their student identification number, but the guardians, contact information, teachers, classes all of this are related entities not part of the main entity we are trying

[2020-06-22 14:36] hassanhabib commented on #1
@a-urel might have some input on what a student entity is supposed to look like, care to share @a-urel ?

[2020-06-22 14:45] MCCshreyas commented on #1
@hassanhabib its just a one inheritance chain for Audit fields to domain.
If we include every single field of audit in every domain object without a common one, that code will tend to duplicate.
And also consider a situation where we are introducing a soft delete feature in Application where IsDelete represent the status of delete then we need to add this fields to every single domain object by go

[2020-06-22 15:36] hassanhabib commented on #1
@MCCshreyas  would you entertain the idea of an interface of audit fields? this way consistency is enforced and duplication is only generated, you don't have to type the audit fields, something like:

[code]

[2020-06-22 15:49] MCCshreyas commented on #1
@hassanhabib yeah it's OK. But does that mean that we need to copy and paste IAuditable to every single domain entity!? 🤔🤔🙄

[2020-06-22 16:07] a-urel commented on #1
@hassanhabib Since we need to conceptualize 'foundational' student model, we should keep it simple.
I think it's useful to assume property values of this class don't change by student's academic status and activities.
So it should contain only personal and legal information about students.

[2020-06-22 16:11] hassanhabib commented on #1
@MCCshreyas nope, you just implement it and that's it - you don't have to copy the interface it's written once and used everywhere

[2020-06-22 16:47] MCCshreyas commented on #1
@hassanhabib again it's two file right? Domain class and IAuditable interface file!

[2020-06-22 18:53] tajwal commented on #1
Mr. @hassanhabib  what about something like below

**public interface IBaseModel**
    {
        DateTime CreatedDate { get; set; }
        DateTime UpdatedDate { get; set; }
        int CreatedBy { get; set; }
        int UpdatedBy { get; set; }
        bool IsDelete { get; set; }
    }

**public class BaseModel : IBaseModel**
    {
        [Key]
        [DatabaseGenerated(DatabaseGeneratedOption

[2020-06-22 19:07] a-urel commented on #1
We can decide base classes or auditing strategies later.

[2020-06-22 19:28] devmanzur commented on #1
`public class Student : IAuditable
    {
        public Guid Id { get; set; }
        public string FirstName { get; set; }
        public string MiddleName { get; set; }
        public string LastName { get; set; }
        public DateTimeOffset DateOfBirth { get; set; }
        public DateTimeOffset AdmissionDate { get; set; }
        public Session Session { get; set; }
        public string Ima

[2020-06-22 19:28] devmanzur commented on #1
[code]

[2020-06-22 19:30] devmanzur commented on #1
[code]

[2020-06-22 22:48] hassanhabib commented on #1
@devmanzur looks good, I think Admission date and images should be in external entities, for instance here the U.S they have mutliple yearbook photos, so it should be external.
I think the rest is fine, but what is a session, and shouldn't you need a `SessionId` to fill in that related entitiy?

[2020-06-23 02:04] antoniolinhart commented on #1
Should this class contain contact information like `emailAddress` or `phoneNumber`? What are the thoughts on how communication to the students will work, will it only be in-app?

Also, are we only supporting English? If not, `nativeLanguage` could be used to display the site in their native language. This might be more of a separate setting than a field for this class

[2020-06-23 03:25] Mohamad-ali-8 commented on #1
If Id for a student is Guid, I would recommend to also add another Reference number, an incremental number that starts somewhere. It is very handy later on for UI, searching purposes, and more meaningful for reporting. I found this very useful in one of the applications that I worked on.

public long ReferenceNumber { get; set; }

We added for it a sequence for DB like this:
   modelBuilder.Entity

[2020-06-23 05:20] devmanzur commented on #1
Sessions/Batch to indicate which batch the user belongs to for instance I was session 2016. Batch 87. These attributes help to identify which sessions I was part of. Yeah, I missed the SessionId field.

[2020-06-23 05:40] hiraldesai commented on #1
Demographics information like gender, race, etc.

1) are we planning on storing it?
2) if we are, are they considered l as “separable” information to the primary entity?

[2020-06-23 06:46] Driedas commented on #1
What use cases is this model supposed to support? It's difficult to come up with a model when it's not clear what it should be doing...
The basic properties are there, requirements will tell us what needs to be added and what relationships there will be.

[2020-06-23 06:56] hassanhabib commented on #1
@hiraldesai  this is an interesting topic, I think gender and race are inseparable, but the question here would be why would we need to have that information at all in a student entity? one might argue maybe for particular curriculum in some countries, particular activities or such, and that might be a legitimate argument but from a global standpoint if we are building a schooling system generic e

[2020-06-23 06:58] hassanhabib commented on #1
@Driedas that's true. the one requirement we have for this issue is to conceptualize the basic information we need to have in a root entity for students - something to attach all other additional information to, despite what the additional information maybe depending on the requirement.
In other words, the student model should be a basic model/entity that contains basic information about a student

[2020-06-23 07:00] hassanhabib commented on #1
In that case the session and batch are outside of the scope of this model, we are not there yet, we might come back and say let's do these things, but for now, we just need a simple basic student model to contain foundational information that are inseparable from any student entity anywhere in the world.
You might argue that sessions and batches are inseparable, and I would argue that there are ex

[2020-06-23 07:02] hassanhabib commented on #1
thanks @Mohamad-ali-8 - this is a good point - in that case why don't we just use a `ulong` as the data type for student ids instead of Guids?

This is open for everyone to discuss.

[2020-06-23 07:03] a-urel commented on #1
Actually student is a person, and we will have other person types like parents, teachers, personnel, etc.
Maybe we will see that a base abstract Person class is needed in the future. But I think it's too early for this type normalizations.

[2020-06-23 07:04] hassanhabib commented on #1
@antoniolinhart
I think contact information are external entity information, simply because a given student might have multiple phone numbers for one student, maybe multiple e-mail addresses, contact information through other platforms, we definitely are going to need all of that, but I'm not sure if should be part of the main entity.

[2020-06-23 07:08] hassanhabib commented on #1
It looks like the model that @devmanzur put together seems to be the closest to what we are going to go with, let me reiterate with a slight change:
[code]

[2020-06-23 07:10] Driedas commented on #1
I don't see a use case for race, but I do see one for the sex of the student. This would come into play in coed environments when splitting up children into individual classes (not sure if e. g. the US system works like this, but in the European system that I'm mostly familiar with, kids in every year are split into groups of roughly equal sizes with roughly equal sex representation and stay in th

[2020-06-23 07:16] Driedas commented on #1
@hassanhabib I am in favor of using GUIDs for the root aggregates as IDs
1) the ID can be chosen by the client making the student registration, there is no contention for database generated keys
2) makes synchronization between nodes in a distributed/not always online system easier (e. g. registration of students on a tablet with no internet connection, when done, the set of new students can easil

[2020-06-23 07:17] hassanhabib commented on #1
@Driedas very strong points - totally agree. anyone else has a counter argument?

[2020-06-23 07:19] a-urel commented on #1
Id field type of IdentityUser entity is string (nvarchar(450)).
BTW, student is also a user and must be either derived from IdentityUser or linked to an IdentityUser.

[2020-06-23 07:21] hassanhabib commented on #1
@a-urel I like the referencing rather than deriving - decoupling the business entity from a login/auth entity might be the better option - what do you think?

[2020-06-23 07:26] Driedas commented on #1
student/guardian login credentials should definitely be a separate thing, there are products that already have their own schema for Authentication & Authorization (e. g. Identity server, ASP.NET Identity - or whatever the current iteration of the thing is called)

[2020-06-23 07:50] a-urel commented on #1
@hassanhabib Will OtripleS satisfy all requirements of all educational institutions, from kindergarten to collage and universities?

[2020-06-23 11:19] hassanhabib commented on #1
@a-urel I was thinking the system should handle these levels:
Elementary(Primary School)
Middle School or Junior High
High School or Senior High School(Secondary School)

Kindergarten and universities or colleges seem to have different systems for instance college doesn't require a guardian or a parent, and kindergarten doesn't really have exams in a lot of countries.

[2020-06-23 22:10] a-urel commented on #1
I think something like this would be enough:
[code]

[2020-06-23 22:45] tobidub commented on #1
What about a Concurrency Token like timestamp or rowversion?

[2020-06-24 04:38] levirgon commented on #1
that might be a good candidate for another interface

[2020-06-24 04:41] levirgon commented on #1
@a-urel created on, modified on fields are. already inside IAuditable

[2020-06-24 12:57] Driedas commented on #1
only a nitpick, I would change

to something like

`
public Photo/Image/Picture Picture { get ;set ; ]
`

maybe premature, but blobs are typically stored and retrieved separately regardless of the underlying storage technology, and there will most likely be photographs/pictures used elsewhere in the domain (plus there will be additional medata)

[2020-06-24 13:59] a-urel commented on #1
Yes, Azure Blob Storage seems to be a better choice to store pictures and files.

[2020-06-24 14:09] ahmetsekmen commented on #1
Keepin pics on azure server may can legally problem for schools.
I would say continue with byte.

[2020-06-24 14:13] a-urel commented on #1
or as @Driedas suggested:

[code]

[2020-06-24 14:16] a-urel commented on #1
GDPR and other legal issues must be considered as well.

[2020-06-24 14:20] Driedas commented on #1
this is not about whether to store those images in azure blobs, sql server varbinary(max) or on disk. Regardless of the underlying physical storage, there is typically metadata associated with an image (thus byte[] not sufficing), and creating an entity (in this case a student) and uploading binary data does not need to happen in the same transaction. The data for a student would be accessed more

[2020-06-24 14:21] Driedas commented on #1
GDPR etc is a good point...

[2020-06-24 15:19] hidegh commented on #1
@a-urel  (not string Picture!) @Driedas nemtioned a class...

...and as there's an ORM (EF) planned to be used, the best way is always to keep picture **metadata** separately from the byte[] data, so the **Picture class** is necessary. Inside the meta you can have a link - which then can point to any kind of storage, you just implement a **strategy pattern** and IPictureDownloader + IPictureUpdate

[2020-06-24 16:33] AgentEnder commented on #1
Definitely going to be plenty of Metadata on images, and they will likely be used elsewhere (class cover photos and the like). They would definitely benefit from being another entity

[2020-06-24 17:50] a-urel commented on #1
We may need a document / picture Entity (with metadata), and even versioning, etc. document management system features.
But I think profile pictures can be stored simply as string or byte[]. A profile picture entity could provide additional features like Gravatar though.

[2020-06-24 18:10] Driedas commented on #1
byte[] properties on entities are problematic due to the necessity of loading the entire array into memory at once. For larger images (above ~85k, which is not too much considering the average resolution of phones/cameras) this would lead to those being stored on the large object heap, which a) the garbage collector is not too fond of collecting (only with Gen 2), b) are not compacted by the garba

[2020-06-24 19:52] a-urel commented on #1
I checked out some GitHub repos, including eShopWeb and some other e-commerce projects. I noticed two things:
* `string ImageUri` is preferred
* A backgroud job may also be needed to resize images to use as avatars or thumbnails

[2020-06-25 15:51] devmanzur commented on #1
I am against database generated Ids as well. And the points by @Driedas are legit. So I think we should go with Guids as Ids.

[2020-06-25 15:56] AgentEnder commented on #1
I prefer guids as well

On Thu, Jun 25, 2020, 10:51 AM devmanzur <notifications@github.com> wrote:

[2020-06-25 19:16] Akinnagbe commented on #1
using an IdentityServer could be a better option, in case we are considering mobile apps

[2020-06-26 03:18] hassanhabib commented on #1
Definitely - we need to consider _**the right to be forgotten**_ as one of our priorities when it comes to data - everyone should have the right to have their data completely erased from any system - thank you for bringing this up, great point!

[2020-06-26 03:19] hassanhabib commented on #1
We definitely are considering mobile and desktop apps - we want to allow people to have offline mode where they can manage their local data - save notes and then sync when they get back online.

[2020-06-27 12:20] a-urel commented on #1
My final draft:
[code]

[2020-06-29 03:58] hassanhabib commented on #1
Thank you everyone for your contributions, this is amazing - with the influence of each and every one of you here's the final model that we should start with:

I think this is good enough, just few modifications:
[code]

Now, let's talk about assignments:

## Setup

- Student Model Setup & Migrations with EF Core @a-urel  Monday 12:00 AM - 11:59 PM PST

## Broker

- Students Broker Select By Id fu

[2020-06-29 04:10] hassanhabib opened #3 "Discuss Teacher Model"
Hi everyone,
This week we want to discuss the Teacher model - here's an initial concept:

[code]

There's one thing here to consider:
The teacher model seems almost identical to the Student model, can you think of any additional properties that a teacher model should have that a student wouldn't?

[2020-06-29 05:28] devmanzur commented on #1
@hassanhabib will we allow all properties to be updated?

[2020-06-29 05:50] hassanhabib commented on #1
@devmanzur yes, except of course the Id for obvious reasons

[2020-06-29 05:53] devmanzur commented on #1
Understood, Thank you.

[2020-06-29 12:56] AgentEnder commented on #3
Maybe we could extract a lot of the common properties to a base entity (or
interface) here, so we have IPerson with fields

First Name,
Last Name,
Gender

Etc.

As far as further fields needed for teachers they would likely have an
assigned department (soc. Studies, math etc), or in higher education they
might belong to a certain college in this same way (college of math,
business etc)

On Sun, Ju

[2020-06-29 13:15] Driedas commented on #3
it may be too soon for trying to factor out common interfaces just for the sake of it describing things that are common. Interfaces represent some common functionality or behavior which makes a lot of sense for an interface like IAuditable (even as just a marker interface to handle cross-cutting concerns - describe something that needs to be audited).
There is no core domain use case yet (that I k

[2020-06-29 13:40] hassanhabib commented on #3
@AgentEnder I'm going to have to agree with @Driedas here - let's no try to build common _things_ not just yet - let's build every service as if it was meant to be split completely into it's own microservice - we are building a monolith with a microservice mindset so it's easy to break apart later and scale based on the most commonly used features.

[2020-06-29 13:42] AgentEnder commented on #3
Gotcha, the ease of splitting it up is definitely something that I had not considered.   From: Hassan Rezk HabibSent: Monday, June 29, 2020 8:40 AMTo: hassanhabib/OtripleSCc: Craigory V Coppola; MentionSubject: Re: [hassanhabib/OtripleS] Discuss Teacher Model (#3) @AgentEnder I'm going to have to agree with @Driedas here - let's not try to build common things not just yet - let's build every servi

[2020-06-29 15:55] Driedas commented on #3
@hassanhabib nothing comes to my mind that should be a part of the Teacher entity. There will be plenty more once the rubber hits the road and we start to implement some use cases, but I see it mostly in related entities (subjects and their level the teacher is teaching, experience, grading, homework, etc etc etc)

[2020-06-29 19:10] devmanzur commented on #3
I guess we could include what subject the teacher specializes in. he may be an expert in multiple subjects like physics, mathematics, etc. So we can only assign teachers to subjects he is good with.

[2020-06-29 19:10] devmanzur commented on #3
as well as his educational qualifications

[2020-06-29 22:02] a-urel commented on #3
Maybe two more properties can be added:
**SSN** *(Social Security Number)*
**Title** *(Academic title eg. Professor, Associate Professor, Lecturer, Instructor, etc.)*

[2020-06-29 22:16] AgentEnder commented on #3
We should ensure that SSN’s are stored encrypted if we are storing them in the database   From: AhmetSent: Monday, June 29, 2020 5:02 PMTo: hassanhabib/OtripleSCc: Craigory V Coppola; MentionSubject: Re: [hassanhabib/OtripleS] Discuss Teacher Model (#3) Maybe two more properties can be added:SSN (Social Security Number)Title (Academic title eg. Professor, Associate Professor, Lecturer, Instructor,

[2020-06-30 00:00] hassanhabib commented on #3
@a-urel wouldn't SSN along with other legal identifications be a part of a separate entity?
Also, I think SSN is a U.S specific, maybe Europe but not as global I think.

[2020-06-30 05:05] tajwal commented on #3
Mr. @hassanhabib I think below properties for school staff is required regardless of its nature of job, and for sure those will not fit in one model/table and may need many tables.

Status(Active, resigned or terminated),
MaritalStatus(Single,Marid,Widowed and Diverced)
Title,
Workship in case there are many working ships per day,
Joining(StartDate),
endDate,
NationalIdNumber,
PassportNumber,Issue

[2020-06-30 06:00] Mohamad-ali-8 commented on #1
I will be working on the Delete Endpoint. Are we soft deleting or doing a physical delete?
Another not related question, are we going to use System versioned temporal tables?

[code]

[2020-06-30 07:51] a-urel commented on #3
I think *employee* specific fields can be part of a separate entity.
Such as SSN(?), Position, Department, Manager, employee type, start date, etc.

[2020-06-30 09:03] devmanzur commented on #3
following suggestion by @a-urel

[code]

[2020-06-30 09:41] eriadhami commented on #3
Here in Albania (and I think in Europe) teacher also are Tutors of some students (grouped in classes), maybe later we will need also a Class model and an one to one relation with the Teacher model

[2020-06-30 09:43] Driedas commented on #1
I think that in very exceptional circumstances it makes sense to delete something, if ever. How about a status property to both student and teacher? Something like that will be useful anyway when students leave the school for any reason. Not sure what the values would be, but maybe something like Registered/Active/Graduated/Cancelled

[2020-06-30 10:37] a-urel commented on #1
Exactly! States and transitions (state machine) are very useful in school information systems. Like:
Student: Candidate, Active, Graduated...
Semester: Draft, Active, Past...
Exam: Pending, Completed, Canceled...
...

[2020-06-30 14:23] devmanzur commented on #3
we can manage that using a Teacher-Student type of relation later.

[2020-06-30 14:31] tajwal commented on #3
Dear @devmanzur in case of having separated entity for  employment information then joining date and Designation will moved there as a teacher/employees can have many designations and start and end dates  during his/her stay in school even the joining date is same it will also move there.

[2020-06-30 14:33] devmanzur commented on #3
agreed

[2020-06-30 14:41] Driedas commented on #1
@a-urel cool, I like "Candidate" better than "Registered" :-)

[2020-06-30 15:27] hassanhabib commented on #1
@Mohamad-ali-8  that's a good point - however, we want to expose a private endpoint to clean out the database from any records for acceptance testing - soft-deleting will be part of the processing services not these broker-neighboring services, the deleting here is actually for the system not for end-users to be able to delete records.
I think using temporal tables is a good idea, but this is not

[2020-06-30 15:30] hassanhabib commented on #1
@a-urel That's a good idea, let's propose initial statuses for Students, here's a draft:
[code]

[2020-06-30 15:31] hassanhabib commented on #3
In the Student Issue - people are talking about a status for the teacher, we should probably start thinking about all the statuses a teacher entity might have.

[2020-06-30 15:45] a-urel commented on #1
Actually these states indicate the student's relationship with an academic program, which is usually the exact same thing with student's status. But a student may be registered to both CS and MBA, simultaneously or not. I'm not sure if it's too early to consider these details.

[2020-06-30 16:42] AgentEnder commented on #3
Potential statuses:

New Hire
Active
Retired
Terminated

[2020-07-01 04:59] JaAfghan commented on #3
Dear @devmanzur  I am agreed with @tajwal  As per Standard Microsoft ERP Structured Separated entity for Employment information will be much better

[2020-07-01 06:03] hassanhabib commented on #1
@a-urel we are not doing college just schools

[2020-07-01 07:28] Mohamad-ali-8 opened #7 "Issue with Unit And Acceptance Projects"
![image](https://user-images.githubusercontent.com/66647857/86215699-3ffece80-bbc0-11ea-8e40-1f708cb7f631.png)

[2020-07-01 11:20] eriadhami commented on #7
Me too
<img width="1417" alt="Screenshot 2020-07-01 at 1 19 24 PM" src="https://user-images.githubusercontent.com/45641379/86238319-93abf080-bb9d-11ea-8b0f-a766f44c40fc.png">

[2020-07-01 11:34] eriadhami commented on #7
Edit OtripleS.Web.Api.Tests.Unit.csproj and OtripleS.Web.Api.Tests.Acceptance.csproj to targetframework netcoreapp3.1

[2020-07-01 11:36] Driedas commented on #7
same here, installation of the latest .net 5 preview SDK did not help...

[2020-07-01 12:01] eriadhami commented on #7
Installation of the latest .net 5 preview SDK did not help because the main project OtripleS.Web.Api is netcoreapp3.1 so the only way is to change the OtripleS.Web.Api.Tests.Unit.csproj and OtripleS.Web.Api.Tests.Acceptance.csproj targetframework to netcoreapp3.1

[2020-07-01 12:23] Driedas commented on #7
thanks, that got it working, have struggled with that yesterday for about two hours, how simple... D'oh :-)

[2020-07-01 12:31] eriadhami opened #9 "Issue with Tynamix on Unit test"
I am working on Unit tests on ShouldDeleteStudentAsync() and i get an error from Tynamix when it ties to Fill a random student. Obviously Tynamix can not fill Student's datetimeoffset:

System.TypeInitializationException : The type initializer for 'System.DateTimeOffset' threw an exception.
---- System.Exception : The type [DateTimeOffset] was not registered in the randomizer.

[2020-07-01 13:32] eriadhami commented on #9
I solved that. I had to setup filler the right way:

filler.Setup()
                .OnProperty(student => student.BirthDate).Use(this.dateTimeBroker.GetCurrentDateTime())
                .OnProperty(student => student.CreatedDate).Use(this.dateTimeBroker.GetCurrentDateTime())
                .OnProperty(student => student.UpdatedDate).Use(this.dateTimeBroker.GetCurrentDateTime());

[2020-07-01 13:56] #9 closed

[2020-07-01 18:46] a-urel commented on #1
In some countries a school may include both primary and secondary school (or secondary and high school) stages.
To support this scenario we can either
* assume these schools as separate organizations (and create a new student record for secondary school) or
* provide many registrations (elementary, secondary,...) for single student.

First approach is simpler but the second one is more flexible.

[2020-07-01 20:00] hassanhabib commented on #7
I think this issue is fixed now - all projects target the right framework.

[2020-07-01 20:00] #7 closed

[2020-07-01 20:10] hassanhabib commented on #3
Please remember that this only for schools, not colleges or universities - just schools until high school - so professors and such out of the scope of this project.

[2020-07-02 16:22] AgentEnder commented on #3
We might potentially want something like degree level, for eligibility to teach higher level courses such as AP/Dual Credit that are taught by High School teachers but require additional credentials. That might be better suited in a joined entity such as FacultyCredential though

[2020-07-03 02:26] viralpandya opened #16 "Task : Get Student"

[2020-07-04 12:37] #16 closed

[2020-07-06 05:15] hassanhabib commented on #3
Hello everyone,
I've seen some great input in here, here's the consolidated model we should go with:
[code]
Now, let's talk about assignments:

## Setup

- Teacher Model Setup & Migrations with EF Core @eriadhami   Monday 12:00 AM - 11:59 PM PST

## Broker

- Teacher Broker Select By Id function @AgentEnder  by Tuesday 12:00 AM - 11:59 PM PST
- Teacher Broker Select All function @AgentEnder    by

[2020-07-06 10:46] a-urel commented on #1
@hassanhabib I think we can define **OtripleS** as **K-12** software:
https://en.wikipedia.org/wiki/K%E2%80%9312

Maybe another discussion issue would be useful, such as _scope_ or _big picture_.

[2020-07-06 13:02] hidegh commented on #1
@a-urel exactly, **I do miss 2 important things on this project:** (was considering to create an ISSUE to address this, but...)
1. **the scope** - what it should include, features, goals, etc. - so the **big picture**
2. I personally find the talk about the model too early, **architecture and technologies used** should be the first, I know @hassanhabib pushed some sample code but:
- I personally d

[2020-07-07 15:38] hassanhabib opened #32 "Discuss Class (Course) Model"
This one is going to be a little tricky, because class is a reserved keyword in C# and many other languages - so we probably need to think of a different name for a Class.
Here's the initial model:

[code]

Related entities to think about:
	// students
	// teachers
	// syllabus
	// assignments
	// schedules
	// projects
	// exams

Thanks @viralpandya  for helping me put this model together.
Team,

[2020-07-07 16:44] gauriramesh commented on #32
I think a good alternate name could be "Course" or "Subject".
I think it would be good to establish a relationship either at the model level or db level (or both) between students and classes. Would we want an ICollection<Student> in Class and an ICollection<Class> in Student and have a many-to-many relationship?

A Class could have an ICollection of Teachers too, since multiple instances of a cou

[2020-07-07 17:25] MCCshreyas commented on #32
I think what we should really do is come with up a class diagram containing all required entities including student, class and above mentioned one.
So that we can figure out the association and relationship between each entities, and that diagram will guide us moving forward and it will also helps to write code and

[2020-07-07 18:30] tajwal commented on #32
Mr. @hassanhabib , If we put the name of the entity room and have roomtype column which will be enum and have values like.
Classroom,
Office,
Lab,
and etc.

If a school have multiple buildings, in that scenario don't you think we need entities for buildings, then floors and at the end floorId as foreign key in room/class.
and and enums for class type as classes defers based on subjects teaches in

[2020-07-07 19:54] hassanhabib opened #33 "Discuss Architecture Patterns"
This issue is a thread to discuss potential patterns that we could adapt in OtripleS to streamline the development of the project, the current pattern follows the Models, Brokers, Services, Controllers and Views pattern, you can learn more about the pattern in the following sessions:
[Fundamentals of Building ASP.NET Core Applications](https://www.youtube.com/watch?v=L6tLGQiKZNE)
[Fundamentals of

[2020-07-07 20:08] AgentEnder commented on #33
Just watched the video `Exception Handling Noise in C#` and I really like that idea, makes a ton of sense and seems easy to implement.

[2020-07-07 21:37] Driedas commented on #33
First of all, I greatly appreciate the effort put into this, it's great to see so many people finding time to participate and churn out ideas and code for just the good feels of it, kudos. I'm adding my 5 cents to the discussion, nothing below is meant to be personal, or addressed to any specific person (I didn't do a git blame to check commit authors). I'm also not advocating for any changes in f

[2020-07-08 04:15] hassanhabib commented on #1
@hidegh I created an issue for the architecture patterns and technology in this issue: https://github.com/hassanhabib/OtripleS/issues/33

Closing this issue as we currently have full CRUD operations as foundational functionality for Student model.
(We should add student status with a different issue later)

[2020-07-08 04:15] #1 closed

[2020-07-08 04:29] hassanhabib commented on #33
@Driedas  thank you for your dedication and your detailed identification of potential areas of growth in our architecture and technology.
let's start discussing your point one by one so we don't lose track.

services, entities, API controllers everything in a single project. This would not be an issue on a small, single use, single logical deployment project. For anything larger than that, you wil

[2020-07-08 08:20] Driedas commented on #33
That is fair enough, I can see this potentially working, however I am skeptical that the core domain (students, teachers, guardians, courses, exams) is ever going to be split into multiple microservices in the future as that is the very core functionality of the system. Who knows, hard to predict the future, I agree.
What I do see though is non-core concepts already bleeding over to the core, like

[2020-07-08 08:26] MCCshreyas opened #35 "Class Diagram"
Hello all,
Based upon till date conversation, I have created the class diagram. This will allow us to visualize the domain entities at a higher level and can help us to understand the corresponding entities.
You can see the class diagram in the following link.
https://app.lucidchart.com/documents/view/428d3bdb-b3be-4480-8360-7bc5b5c24d89/0_0

Also am uploading the image here.
![OtripleS](https://u

[2020-07-08 08:27] MCCshreyas commented on #35
@hassanhabib Can I get an email link of yours so that you can share this class diagram with the edit permissions so that you can add the latest fields and models going forward. Thanks.

[2020-07-08 09:15] a-urel commented on #32
*Classroom* would be a better name
[code]

[2020-07-08 15:05] Driedas commented on #32
Looks like it's time to also get the vocabulary/ubiquitous language right :-)
What exactly do you understand under a Class? Is that a Subject or Course (like @gauriramesh suggested) being taught as part of the curriculum - e. g. Math 1/2/3/... If so, I like the term Subject or Course better,

I think there should be a property that distinguishes the levels of the Course, or maybe that should be a

[2020-07-08 15:23] hassanhabib commented on #35
@MCCshreyas  please move this into this issue: https://github.com/hassanhabib/OtripleS/issues/33

[2020-07-08 15:23] #35 closed

[2020-07-08 15:27] Driedas commented on #33
@hidegh entities and their serialization issues is a good point I missed. Given a rich model (e. g. a Student has a list of Subjects he attends and the Subject has a collection of Students that attend it) a serializer can easily keep on going and going when lazy loading is enabled. This is one of the very few instances where I saw a production server going down in flames with an out of memory exce

[2020-07-08 19:56] eriadhami commented on #32
Also in my country (Albania), a Class means a group of students that advance together in the system for a number of years and are taught Subjects together on the same level.
From the 1-4-th grade, the Students of a class are taught by only one Teacher for all the Subjects, who is also their Tutor. From 4-12 grade the Students of a Class are taught by many Teachers one Teacher per Subject and one o

[2020-07-08 22:51] hassanhabib commented on #33
@Driedas we create full CRUD operations on all entities not necessarily for business purposes, for instance, the delete or delete all operations, we have those so we can clean up what we create in our acceptance tests.
CRUD operations are also important to be able to modify a particular entity to validate a specific validation rule, the same thing goes with reporting for mid-layer entities that yo

[2020-07-09 09:41] Driedas commented on #33
Why not just create a throwaway database as part of the execution of acceptance tests? On test startup you generate an empty database with seed data and every test resets the database to the initial state (in whatever way, restore from a backup of the database generated in the beginning, or something like Respawn https://github.com/jbogard/Respawn).
Given you now have API endpoints for these opera

[2020-07-09 12:00] JaAfghan commented on #32
Mr.@hassanhabib I think using classroom will be better option to used

[2020-07-09 12:29] JaAfghan commented on #32
Mr.@hassanhabib I think using classroom will be better option to used

[2020-07-09 15:54] hassanhabib commented on #33
Given you now have API endpoints for these operations, you have a vector of attack for potential bad actors, also service methods that anyone can call, but - if I understand you correctly - shouldn't outside of the scope of tests.

Creating a throwing away a temporary database doesn't give me the actual acceptance results considering we want to run this against live instances in the cloud - in whi

[2020-07-09 15:56] hassanhabib commented on #32
@a-urel & @tajwal  I think classroom is different than what a class is supposed to represent, this is like Spanish Class, it's not bound by a particular location - it's more bound by the subject being studied and the students being a part of this subject, what do you think?

[2020-07-09 16:06] Driedas commented on #33
Right, I get it, there is a bigger picture that I am not seeing yet. I'll take you by your word that there is a bigger picture and these pieces will somehow fall into place. To be honest, at the moment all of this seems to me like an extremely expensive test suite. I hope I'll get to eat my words with a side of humble pie down the line :-)

[2020-07-09 16:15] Driedas commented on #32
maybe use it in a sentence :-)
is it "I'm taking a Spanish class this year" or is it "I have a Spanish class in 5 minutes, better hurry"

[2020-07-09 22:07] a-urel commented on #32
@hassanhabib @tajwal @Driedas
Fortunately deciding the meanings of the terms is easier than it seems. There are standards like [PowerSchool API](https://my.haikulearning.com/haiku_lms/api/cms_page/view/51358) and [OneRoster API](https://www.imsglobal.org/oneroster-v11-final-specification). Our data structure should be compatible with these standards, so that **OtripleS** can easily cooperate with

[2020-07-09 22:55] AgentEnder commented on #32
If we can keep compatibility with these that would be a major win

On Thu, Jul 9, 2020, 5:08 PM Ahmet <notifications@github.com> wrote:

[2020-07-10 13:11] hidegh commented on #33
@Driedas @hassanhabib
**regarding testing and throw away database and crud brokers (and to it's mocked versions)**

with ORM the nice thing is, (if you avoid committing TX and/or using SaveChanges) that all your changes should be on the in memory ORM model. so you can do tests against! of course this works with some sample DB (or some seeding - even if in memory, or in a pre-seeded test DB).

is t

[2020-07-13 06:25] hassanhabib commented on #32
Thank you all for your feedback, I think Course is definitely a better term. here's our finalized model and our assignments for this week:

[code]
Now, let's talk about assignments:

## Setup

- Course Model Setup & Migrations with EF Core @HatemGamal Monday 12:00 AM - 11:59 PM PST

## Broker

- Course Broker Select By Id function @viralpandya  by Tuesday 12:00 AM - 11:59 PM PST
- Course Broker Se

[2020-07-13 06:27] Mohamad-ali-8 commented on #32
Hi @hassanhabib,
I can help with the controller work, unfortunately, last week I couldn't.

[2020-07-13 06:33] hassanhabib opened #47 "Discuss Classroom Model"
Hi everyone!
In this issue, we will be discussing the Classroom model, here's a draft model for discussion:

[code]

I think there's much more to add to a classroom than just the aforementioned, I'm also not sure the current statuses are inclusive - let's discuss :)

[2020-07-13 06:39] hassanhabib commented on #32
@Mohamad-ali-8  you have an assignment now, thank you for your contributions.

[2020-07-13 08:38] hassanhabib commented on #3
Closing this issue as all CRUD operations are completed.

[2020-07-13 08:38] #3 closed

[2020-07-13 09:58] mykjar commented on #47
I think there should be Capacity (seating places?) property there.
Additionally maybe some information on classroom being capable of audio / video / any-other-tech ?

[2020-07-13 16:27] hassanhabib commented on #47
@mykjar very good point - keep the good thoughts coming.

[2020-07-13 16:49] mykjar commented on #47
I would say that it is worth changing _Location_ property from string to class with corresponding properties (_Building, Floor, ect._) as there might be multi building / multi floor  + it might will be necessity if there would be _scheduling / booking / availability_ service in future.

[2020-07-13 22:17] chaouanabil commented on #33
Hi everyone,
Thank you @hassanhabib for this initiative, i did read the discussion about the architecturals and design choices. And i would like if you take a look guys in abp framework  https://abp.io/, because it promote to give a solution to a lot of points mentionned here like rich model vs anemic, cross edging concernes like entities validation , business rules validation, exception handling

[2020-07-13 23:02] chaouanabil commented on #47
You can add ClassromeType:  auditorium , Laboratory ...

[2020-07-13 23:32] chaouanabil commented on #32
I think Class would be better to be used to mean for example Class 1 year Biology, 2 year Computer Science Ect et is has a list of couses.
A class has a list of couses.
A student is assigned to a class.
A course could be teached by multiple teachers.
A course is teached by one teacher for a class.
course session is scheduled  for a Class (or class group, class could be divided in group of students

[2020-07-14 00:22] hassanhabib commented on #47
@mykjar that means it would be a related entity, I agree - we should put it in it's own entity, good point.

[2020-07-14 00:22] hassanhabib commented on #47
@chaouanabil would that be an enum or just an open string?

[2020-07-14 06:55] mykjar commented on #47
Simple addition - Accessibility property? I am not sure if this should be just a flag or a list of items. Most likely list of predefined entities (_Type, Description, ect._).

[2020-07-14 11:29] a-urel commented on #47
I think _string_ is a better choice. We can provide a predefined (localizable) list without forcing to use them.

[2020-07-14 11:29] tajwal commented on #47
@hassanhabib  & @chaouanabil , I was thinking that ClassroomType is needed, now if classroom types are more and dynamic then I think it would be better to have a table for ClassroomTypes(Id, Description) with some more property may be added in future, but if its fixed list and not changing then enum would be enough.

[2020-07-14 11:32] mykjar commented on #47
I would second this. Table is better. This kind of data will be change per system use case. Predefined enum is not a best choice.

[2020-07-14 11:37] chaouanabil commented on #47
@hassanhabib  yes, I think enum is better (specialy that i m thinking we could add a relationship between course or couseSession and ClassroomType. i mean some couses should be given in certains ClassroomType ). And about enums, do you have docs giving some best practices to display enums as string (with localization) when querying it.

[2020-07-14 11:41] tajwal commented on #47
@mykjar I don't have school system experience but I was part of hostel management system where we added separate table for roomtypes and beside having branch's, buildings, floors, there were sections inside each floor and rooms where added to section based on its type, I not sure if is this possible in school system or not, @a-urel may have information about this.

[2020-07-14 11:45] chaouanabil commented on #47
@tajwal @mykjar, a table also a good choice. i prefere enum over string property and table (Entity) over enum.

[2020-07-14 11:46] a-urel commented on #47
I think over-normalization is not a good practice. When all we need is to prevent incorrect entries, a list of suggestions (a predefined list and/or most-recently-used items in a combo-box, not enum) is enough.

[2020-07-14 11:51] mykjar commented on #47
So enum with some generic, out-of-the-box, options + possibility to enter value freely?

[2020-07-14 11:55] chaouanabil commented on #47
@a-urel if this information is used just in this entity and it hasn't other business rules  (as i mentioned , some courses could requiee certain classroomType and this is it give us a business rule when we schedulea couse session in a classroom ). another problem with this solution is where to stock this list of options.

[2020-07-14 12:30] a-urel commented on #47
IMO we shouldn't create an entity if its properties are just _id_ and _name_. Especially when this name must be localized.
In this case we can simply provide a combo-box with a localized list (eg. from `.resx`) of items, and allow end-user to enter a value which is not listed. This approach allows us to prevent incorrect entries (w/ auto-complete), as well as provides enough flexibility.

[2020-07-14 12:35] eriadhami commented on #32
@HatemGamal if you want i will be happy to help with this

[2020-07-14 13:44] HatemGamal commented on #32
Thanks @eriadhami, appreciated ;).
My apologies for the delay.

[2020-07-14 14:57] hassanhabib commented on #47
@a-urel I agree - but I think the `Classroom` model should have more than that - what are your thoughts on what needs to be in a `Classroom` model?

[2020-07-14 14:57] hassanhabib commented on #47
@tajwal  that's a good point - I agree.

[2020-07-14 16:55] hassanhabib commented on #33
@chaouanabil thanks for sharing - this framework looks interesting definitely something to consider.

[2020-07-15 04:08] JaAfghan commented on #47
Mr.@hassanhabib  I think it would be better to used table for ClassroomType

[2020-07-15 11:10] hassanhabib commented on #47
@JaAfghan it makes it definitely more extendable to make the types as external entity. I agree.

[2020-07-17 19:56] devmanzur commented on #32
I will start working on the acceptance test as soon as the get all endpoint is merged.

[2020-07-17 20:58] HatemGamal commented on #47
I think there are two kinds of status we should consider, one represents whether the room is active or not, meaning the room can't hold a class yet for cases such as room maintenance, refurbishment, or under construction. The other cases define if the room is free or occupied.

[2020-07-18 03:36] JaAfghan commented on #32
acceptance test is ready from our side we are waiting once the Update endpoint is merged

[2020-07-18 05:27] eriadhami commented on #47
To define if the classroom is free or occupied, i think will be better to have kind of timetable for each classroom which will include time and subject. Eg classroom 2B on  9-11 Math, 14-17 Biology....

[2020-07-18 11:16] tajwal commented on #32
My assignment, Course Post Acceptance Test done, If @a-urel is busy me and @JaAfghan  will happy to help you on the controller methods.

[2020-07-18 17:39] devmanzur commented on #32
the acceptance tests are already implemented :(

[2020-07-20 06:22] hassanhabib commented on #47
@eriadhami that would be a related entity, we would call it something like `ClassroomSchedule` - but definitely something to consider.

[2020-07-20 07:03] hassanhabib commented on #47
Thank you all for your contributions, here's an overview of our Classroom entity model and the assignments this week:

[code]
Now, let's talk about assignments:

## Setup

- Classroom Model Setup & Migrations with EF Core @hiraldesai Monday 12:00 AM - 11:59 PM PST

## Broker

- Classroom Broker Select By Id function @HatemGamal by Tuesday 12:00 AM - 11:59 PM PST
- Classroom Broker Select All funct

[2020-07-20 07:52] #32 closed

[2020-07-20 08:17] hassanhabib opened #62 "Discuss Assignment Model"
Hi Everyone,
In this issue, we will be discussing the Assignment model, here's a draft idea of a model:

[code]

[2020-07-20 09:01] hassanhabib commented on #33
@hidegh I wasn't talking about a copy from a production database, I was talking about the actual database in production, running our acceptance tests against our production API and making sure we can run full cycle of CRUD operations (and orchestration, coordination, management and aggregation in the future) against the actual instance that everyone else is using.

These tests we run are great, bu

[2020-07-20 09:27] tajwal commented on #62
Assignment can have  AssigmentType if its minor,major or any other type.

[2020-07-20 09:31] JaAfghan commented on #62
Assignment can have submission type which can be Submitted us a hard copy or Submitted online .

[2020-07-21 01:48] syedib commented on #62
Assignment Submission Status like below

**Submitted** - On Successfully submission within the deadline
**Not Submitted**  - Yet to be submitted within the deadline
**Overdue** - Yet to be submitted after the deadline
**Correction Needed** - If any correction needed

Teacher may need to enter any feedback about the assignment so we should have a field like **Comments**

[2020-07-21 22:39] hassanhabib commented on #62
@syedib I like that - good thoughts.
I wonder if there would be any other statuses for an assignment?

[2020-07-21 22:47] AgentEnder commented on #62
If this model is for the actual assignment, those statuses do not make a lot of sense. Those would belong to a different entity, perhaps 'submission' or something.  Relations would look something like: Course 1:M Assignment 1:M Submission M:1 Student.

Students would 'submit' their assignments, but the assignment itself is the same entity for each student.

[2020-07-22 03:05] syedib commented on #62
in this case we can make submission status as configurable, as @AgentEnder Mentioned we should have a separate entity for Assignment Submission,

[2020-07-22 04:39] hassanhabib commented on #62
@AgentEnder that's a pretty good point.
But even without the submission entity, the assignment might be just about the actual content of the assignment. not the submission of the student for the assignment right?
For instance, an assignment can be active once a teacher posts it online for students to start working on it.
It then becomes inactive, or complete once the period of time is done where s

[2020-07-22 05:23] AgentEnder commented on #62
I think status makes sense, but listing things like teacher feedback, late vs submitted etc do not belong on this one

[2020-07-24 02:36] AgentEnder commented on #47
@hassanhabib  Ended up not quite getting to this today, will get it done asap tomorrow morning if still available

[2020-07-24 21:29] HatemGamal commented on #62
I think this entity should be related only to teachers so that they can assign homework/assignments to their students.
And for students to submit their homework we need to create a new entity called maybe AssignmentSubmissions which should have relations with Student, Teacher, and Assignment entities.

In this model, we can add the score percentage, meaning how much the score of this assignment wi

[2020-07-25 07:17] hassanhabib commented on #62
@HatemGamal  good point, so a teacher and a course - I agree.

[2020-07-25 11:12] eriadhami commented on #62
Assignment model can have also a property Attach. The Teacher creating the Assignment maybe will need something to Attach. I would suggest something like: `public string Attach { get; set; }`

[2020-07-25 21:29] a-urel commented on #62
I think `Course` model is not a _good_ master record for the `Assignment` model.
We need new entity like
[code]
Not `Course`, but `SemesterCourse` entity should contain the `Assignments` list, `Quizzes` list, etc.

[2020-07-27 04:25] hassanhabib commented on #62
@a-urel that's a good point.
In this case we will build the `Assignment` entity without the course reference, but we should add a Teacher reference then later with the `SemesterCourse` we could potential link the two entities together.

[2020-07-27 13:34] hassanhabib commented on #62
Thank you all for your contributions, here's an overview of our Assignment entity model and the assignments this week:

[code]
**We should followup on this model by building a relationship between it and the `SemesterCourse` as @a-urel indicated.**

Now, let's talk about assignments:

## Setup

- Assignment Model Setup & Migrations with EF Core @viralpandya Monday 12:00 AM - 11:59 PM PST  [done]

[2020-07-27 13:37] hassanhabib opened #78 "Discuss Semester Course Model"
Per @a-urel  suggestion - this model is a sub entity off of the `Course` model and it's very specific to a particular semester, teacher and a course as follows:

[code]

Let's discuss the details.

[2020-07-27 13:44] AgentEnder commented on #78
This is probably where the ICollection<Student> Students should go to link students to their class schedule

[2020-07-27 14:29] AgentEnder commented on #78
Also would need a days property for what days the class occurs  (think MWF vs TR classes in colleges, there are similar possibilities in K12) as well as a Time property for startTime and either a float or second Time property to represent duration/end time

[2020-07-28 13:56] a-urel commented on #78
There's a many-to-many relation between `SemesterCourse` and `Student`, but I think a connection table like `StudentCourseRegistration` (instead of navigation properties like `ICollection<Student> Students`) would be a better design. `StudentCourseRegistration` entity should contain student's _score_, status (_passed/failed_), etc.

[2020-07-28 15:34] AgentEnder commented on #78
Agreed, that makes more sense

[2020-07-30 03:59] hassanhabib commented on #78
@a-urel a semester course is a many to many relationship with a student right?
A middle "glue" entity might be required like a `StudentSemesterCourses` to combine a composite key of a student Id and a semester Id into the same entity.
In which case a student model would have rather `IEnumerable<StudentSemesterCourse>` and a course would have similar `IEnumerable<StudentSemesterCourse>` in both ent

[2020-07-30 09:26] a-urel commented on #78
@hassanhabib yes, exactly.

[2020-07-30 20:14] devmanzur commented on #62
my acceptance tests are ready. waiting for related service and endpoints to be merged.

[2020-08-02 08:14] hassanhabib commented on #62
Closing this issue in favor of this commit: https://github.com/hassanhabib/OtripleS/commit/465d16f0997af58da2209bb46df9d0cd49204a3b

[2020-08-02 08:14] #62 closed

[2020-08-02 08:24] hassanhabib commented on #47
Closing this issue in favor of this commit: https://github.com/hassanhabib/OtripleS/commit/118977934c1509c2e7a6f8050d88b88ed599569d

[2020-08-02 08:24] #47 closed

[2020-08-02 08:30] hassanhabib commented on #33
Shutting this down due to inactivity, feel free to revive if you have feedback.

[2020-08-02 15:07] eriadhami commented on #78
Do we need to implement the `IAuditable` on this model?

[2020-08-02 17:00] a-urel commented on #78
Yes, I think so.

[2020-08-03 08:31] hassanhabib commented on #78
Thank you all for your contributions, here's an overview of our SemesterCourse entity model and the SemesterCourses this week:

[code]
Now, let's talk about SemesterCourses:

## Setup

- SemesterCourse Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- SemesterCourse Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- Semester

[2020-08-03 13:21] hassanhabib opened #90 "Discuss StudentSemesterCourse Model"
Hi Everyone,
This is glue entity to build a relationship between Students and SemesterCourses as follows:

[code]

[2020-08-03 13:53] AgentEnder commented on #90
I could see this glue entity containing the following add'l properties:

- Grade (percentage between 0/100)
- Status { Passed / Failed / In Progress }
- ICollection <AssignmentSubmission> SubmittedWork (once we have this entity)

[2020-08-04 13:07] a-urel commented on #90
@hassanhabib @AgentEnder
`Score` (`string`, like _A+, A, B..._) and `Attendence` (_days_ and/or _percentage_) properties are also needed.

[2020-08-05 03:17] syedib commented on #90
We should maintain the **season** information about the semester which comes under whether it is **winter**, **summer**, **spring**. but I guess this should be included in **Semester** entity and not in **StudentSemesterCourse**

[2020-08-05 11:53] a-urel commented on #90
@syedib yes, `Semester` is related to _calendar_ and _timetable_ concepts.

[2020-08-05 17:28] eriadhami commented on #78
I would be more than happy to help anyone with service implementation

[2020-08-05 18:01] AgentEnder commented on #78
@eriadhami I am super busy today, if you want to take mine feel free, otherwise its going to be late tonight before I can do it.

[2020-08-05 18:26] hiraldesai commented on #78
Same for me to @eriadhami - thank you!

[2020-08-06 04:22] eriadhami commented on #78
Sorry I couldn't finish on time. I will do it later today

[2020-08-07 11:42] tajwal commented on #90
1. sometime some students retake/repeat courses from previous semester, don't we need a column to show that  if this first time or student retake course from last semester?
2. We have score which is between 0 and 100, and than we have grade of its a,b,c or d, don't we need column for those here?

[2020-08-08 15:19] a-urel commented on #90
@tajwal yes, `RepeatCount` is necessary.
I think we'll add a `Score` column for A, B, C...

[2020-08-10 10:12] hassanhabib commented on #78
Feature complete, thank you all <3
https://github.com/hassanhabib/OtripleS/commit/dd99cb062618a5efc7488343dd04530bc4026a4e

[2020-08-10 10:12] #78 closed

[2020-08-10 10:28] hassanhabib commented on #90
Thank you all for your contributions, here's an overview of our StudentSemesterCourse entity model and the StudentSemesterCourses this week:

[code]
Now, let's talk about StudentSemesterCourses:

## Setup

- StudentSemesterCourse Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST [done]

## Broker

- StudentSemesterCourse Broker Select By Id function @hassanhabib by

[2020-08-10 18:08] devmanzur commented on #90
:'( I didn't get any task.

[2020-08-10 18:09] hassanhabib commented on #90
@devmanzur just assigned a task to you.

[2020-08-10 18:15] devmanzur commented on #90
Thanks, :D. I really like contributing to this project. I didn't know how to do unit tests before this project. Today I wrote unit tests in my office project for the first time (We never had tests in our projects). Felt great. Thank you @hassanhabib.

[2020-08-12 12:00] AgentEnder commented on #90
@hassanhabib No new discussion this week?

[2020-08-12 16:20] syedib opened #104 "issue With studentSemasterCourseId"
@hassanhabib

actually we don't have studentSemasterCourseId in StudentSemasterCourse Table, We are using studentSemasterCourseId to fetch a single record in StudentSemasterCourse broker so in order to fetch single record we suppose to use StudentId and SemesterCourseId together, am I correct?

![image](https://user-images.githubusercontent.com/7100721/90040199-4adf6f80-dce5-11ea-8305-985a08ccf1bc

[2020-08-12 16:43] AgentEnder commented on #104
In my PR I treated SemesterCourseId and StudentId as a joint primary key, and it was accepted so I assume that was the correct route.

[2020-08-12 16:54] syedib commented on #104
Yes we should use Composite key to fetch single record

[2020-08-12 18:51] hassanhabib commented on #104
@syedib  what @AgentEnder  - composite key for retrieval

[2020-08-12 18:51] #104 closed

[2020-08-12 18:51] hassanhabib commented on #90
@AgentEnder coming out tonight - we will discuss some missing links between the entities we have created already.

[2020-08-12 19:01] AgentEnder commented on #90
Great, thanks.

[2020-08-13 06:04] hassanhabib opened #107 "Discuss User Model"
We want to build a User Model to allow tracking the created by and updated by Ids on the system, here's an initial model to work with:

[code]

[2020-08-13 07:18] tobidub commented on #107
Do we want to use something like IdentityServer4?

[2020-08-13 10:47] syedib commented on #107
do we need username or email

[2020-08-13 14:49] AgentEnder commented on #107
I always recommend splitting name into First + Last (maybe include middle too, but things get complex w/ intl at that point). Since we are targeting intl users with this, maybe separate it into FamilyName + GivenName

Normally helps with sorting options, and display flexibility. A lot of cases want sorting by family (last) name, sometimes you want `Family, Given` format for display, sometimes you

[2020-08-13 14:53] eriadhami commented on #90
Guys, I will be happy to help with any of this.

[2020-08-13 16:19] hassanhabib commented on #107
@AgentEnder good thought - we might need to leave the family name as optional field because I have seen some folk without a last name - but definitely good points.

[2020-08-13 16:21] hassanhabib commented on #107
@syedib & @AgentEnder then our model would look something like this:

[code]

[2020-08-13 16:53] AgentEnder commented on #107
@hassanhabib I believe the guidance from Aussie government says to record given name as family name when none is present, though I dont know how I feel about that personally

[2020-08-13 23:31] Mohamad-ali-8 commented on #90
Yes please, can’t do it on time.
I thought I could...

Thanks
Mohamad

On Fri, 14 Aug 2020 at 12:53 am, Eris Adhami <notifications@github.com>
wrote:

[2020-08-14 07:08] tajwal commented on #90
@HatemGamal am waiting for StudentSemesterCourse Service Retrieve by Id function to finish acceptance tests.

[2020-08-14 09:26] tajwal commented on #90
@eriadhami I am waiting for  StudentSemesterCourse Controller Get by Id endpoint.

[2020-08-14 15:10] tajwal commented on #107
If this model is going to be used for login and user profile purpose  as well, then I think having below columns will give us plus points.
  -   Unique email can be used for login purpose, in case not then unique  username(Username) is needed.
  -  A column for password(PasswordHash).
  -  In case of storing user image, a column for storing user image path (ProfileImageUrl).
  -  If we wants user

[2020-08-14 18:54] a-urel commented on #107
@hassanhabib why don't we simply use [ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.1&tabs=visual-studio) and [IdentityServer](https://identityserver.io/)?

[2020-08-15 04:09] tajwal commented on #107
Mr. @hassanhabib  if you want to use .Net core Identity then better to customize AspNetUser table over their and just add some columns (Name, FamilyName, Status, CreatedDate and ModifiedDate) all other columns exists.

[2020-08-15 06:59] HatemGamal commented on #107
A point we should consider which is Students should not create their own users, they only can modify some details, but their user should be created for them by a higher authority user such as students affairs or other, as well as teachers.
In that case we should add
       ` public Guid CreatedBy { get; set; }`
        `public Guid UpdatedBy { get; set; }`

[2020-08-15 07:49] hassanhabib commented on #107
@a-urel & @tajwal  good points.

[2020-08-15 07:49] hassanhabib commented on #107
@HatemGamal that would be the system user.

[2020-08-17 13:28] hassanhabib commented on #107
This week I am assigning the UserIdentity for user Sign In/ Sign Up to @eriadhami with a deadline of Wed 11:59 PM PST

[2020-08-17 13:40] eriadhami commented on #107
@hassanhabib thank you! Just one question, I am going to implement UserIdentity just like other models (Model, Migration, Broker, Service)? No ASP.NET Identity, no implementing IdentityServer4?

[2020-08-17 13:41] eriadhami commented on #107
@hassanhabib thank you! Just one question, I am going to implement UserIdentity just like other models (Model, Migration, Broker, Service)? No ASP.NET Identity, no implementing IdentityServer4?

[2020-08-17 14:05] hassanhabib commented on #107
@eriadhami  yes it should be exactly the same - I recommend switching the usage of EFxceptions.Identity https://github.com/hassanhabib/EFxceptions/packages/301972 to include UserIdentityContext for your work without losing the benefit of getting meaningful exceptions from EF Core.

[2020-08-17 14:46] hassanhabib opened #119 "Discuss Attendance Model"
Hi Everyone,
In this issue, we will discuss the Student Attendance model, here's a draft model:

[code]

[2020-08-17 14:58] AgentEnder commented on #119
I'd add an enum, AttendanceStatus. Values:

1. Full: Student was present for full class
1. Partial: Student left midway, or was late.
1. Absent: Student was not present.

I do understand that generally the attendance record should not exist if the student was not present on that date, but if the teacher went back and edited the record to state that they were absent, would we want to delete the exi

[2020-08-17 18:52] hassanhabib commented on #119
@AgentEnder I love this - good idea!

[2020-08-18 04:20] tajwal commented on #119
If students are coming in different times to the school than shift(Id, Name, FromDate, ToDate, StartTime, EndTime, OffDay) table is also required and there will be ShiftId as foreign key in Attendance  table.
adding AttedanceResult, SignInTime and SignOutTime are also good to have in attendance table.
because  AttendanceResult column will tell us that student is Present, late, on-leave or absent,

[2020-08-24 08:02] #90 closed

[2020-08-24 08:13] hassanhabib commented on #119
Thank you all for your contributions, here's an overview of our Attendance entity model and the Attendances this week:

[code]
Now, let's talk about Attendances:

## Setup

- Attendance Model Setup & Migrations with EF Core @HatemGamal Monday 12:00 AM - 11:59 PM PST

## Broker

- Attendance Broker Select By Id function @HatemGamal by Tuesday 12:00 AM - 11:59 PM PST
- Attendance Broker Select All f

[2020-08-24 08:38] hassanhabib commented on #33
@devmanzur it depends on what you do with the exceptions.
In our case here exceptions are used to either terminate the current operation and report an error to the API consumer to fix their requests or an internal issue in which we report 5xx exceptions to end users and notify the engineers to handle the issue through logging.
we catch these inner exceptions for specific cases and wrap them in hig

[2020-08-24 08:43] hassanhabib opened #131 "Discuss the Exam Model"
In this issue we will discuss the Exam model.

here's a draft idea of a model:

[code]

We need to think about the exam content, questions and notes.
There will be additional entities where we attach a student to an exam, or maybe simply through student semester courses - let me know your thoughts.

[2020-08-24 08:48] devmanzur commented on #33
I guess it makes sense for this context. Throwing exceptions makes the overall code simpler, But then we require creating a new exception type for each and every possible validation type.

[2020-08-24 12:09] a-urel commented on #131
- Exam type (eg. 1st "Exam", "2nd Exam", "Term Paper"...)
- Exam status (eg. Draft, Completed, Canceled)

[2020-08-27 06:15] #107 closed

[2020-08-27 23:20] AgentEnder commented on #131
Huh, I meant to leave this comment ~2 days ago but must have never submitted it.

This entity seems like it should have a relation to assignment. Something like all exams are assignments, not all assignments are exams. Perhaps a nullable foreign key ExamId on the assignments model.

@a-urel  I agree completely with status, although I would prefer closed to completed. Completed sounds like somethin

[2020-08-28 12:15] a-urel commented on #131
@AgentEnder @hassanhabib I found a grade calculator:

![image](https://user-images.githubusercontent.com/66084385/91559266-6e8af280-e940-11ea-85df-5eb0941dc246.png)

Maybe a single **Assignment/Exam** entity is better design.

[2020-08-28 12:29] AgentEnder commented on #131
I think it definitely would be a better model to have one assignment entity, and just use the name / description and weight to indicate an exam.

[2020-08-29 14:12] eriadhami commented on #131
Totally agree. Maybe we have to add also AssignmentType on Assignment model eg. Homework, Project, Midterm, Final

[2020-08-29 16:54] AgentEnder commented on #131
If we had an entity SemesterCourseAssignmentType teachers would be able to create assignment types and adjust their weights independently for each semester

[2020-08-29 17:21] a-urel commented on #131
So this issue can be closed. We can create a new issue to modify `Assignment` entity to support both assignments and exams.

[2020-08-31 04:13] hassanhabib commented on #131
@a-urel I think assignments are more common to be distinct from exams right?

[2020-08-31 11:03] hassanhabib commented on #131
Let's have the only task for this week to add a type for assignments to either be: `Homework`, `Lab`, `Quiz`, `Project` and Exam - I will assign the task to @a-urel

[2020-08-31 11:25] hassanhabib commented on #33
Awesome - please feel free to re-open if you have any further questions.

[2020-08-31 11:25] #33 closed

[2020-08-31 11:39] hassanhabib commented on #119
@AgentEnder - reassigning Acceptance Tests to you for this model, let me know if you won't be able to do it.

[2020-08-31 11:40] AgentEnder commented on #119
I'll get to it ASAP, might be tomorrow.

[2020-08-31 11:51] AgentEnder commented on #131
@hassanhabib if we want to support in application tests/quizzes/whatever we will need a basic form builder.

I feel like this is the route you were going with the exams. In which case you would have entities like:

Exam {
    Exam Id : Guid
    SemesterCourseId: guid
    Name : string
    Published : boolean
    Allowed Attempts: int
    Grading Method: enum [newest, average]

}

Exam Question {

[2020-09-01 07:54] hassanhabib opened #144 "Discuss Guardian Model"
Hi everyone,
Let's start thinking about the guardian entity model, a guardian for a student can be their parents, grandparents older siblings or other here's a basic model for discussion:

[code]

[2020-09-01 15:20] AgentEnder commented on #144
This would need either a StudentId (in case of 1 to many) or a join table to relate back to students.

Might want to have a flag describing if its the primary contact. Contact info would also make sense. Probably home phone, cell phone, and email at minimum. Contact info could also be normalized into its own table, but thats probably not necessary.

[2020-09-01 20:21] hassanhabib commented on #144
@AgentEnder I agree, a glue entity to attach the guardian to the student with a description of the relationship - great point.

[2020-09-04 16:23] a-urel commented on #131
@AgentEnder I think _creating exam contents and supporting in-app exams_ is a different business requirement.
This can even be even a different product.
I admit creating form and content builders in the future would be fun though.

[2020-09-04 18:28] hassanhabib commented on #131
@a-urel sounds good to me, do you want to take this task?

[2020-09-04 18:46] a-urel commented on #131
@hassanhabib yes, I'm working on the `Assignment` entity now.

[2020-09-05 15:25] a-urel commented on #131
I think these models meet the requirements:

[code]
[code]
[code]

What do you think?

[2020-09-07 03:43] AgentEnder commented on #131
@a-urel I dont think the form building capabilities should be relegated to a different product. Looking at other technologies in use in classrooms (canvas or blackboard being the 2 I have personal experience with), most of my assignments posted through the systems were built using the software.

If we want this software to be used, and truly eliminate the costs to schools this should be a firm req

[2020-09-07 04:07] #119 closed

[2020-09-07 05:00] hassanhabib commented on #131
@a-urel the rule with 0s affecting final grades are not self-explanatory.
I would go with something like a status for grade impact.

@AgentEnder I agree 100% - the whole idea is to simplify and invent an easier way to do schooling systems - not another product like the existing ones, absolutely.

@a-urel can we simplify things a bit from a model design perspective?

[2020-09-07 05:09] hassanhabib commented on #144
Thank you all for your contributions, here's an overview of our Guardian entity model and the Guardians this week:

[code]
Now, let's talk about Guardians:

## Setup

- Guardian Model Setup & Migrations with EF Core @JaAfghan  Monday 12:00 AM - 11:59 PM PST

## Broker

- Guardian Broker Select By Id function @JaAfghan  by Tuesday 12:00 AM - 11:59 PM PST
- Guardian Broker Select All function @JaAfg

[2020-09-07 05:18] hassanhabib opened #146 "Discuss Student Guardian Relationship Entity"
Hi Everyone,
This is the relationship entity between students and guardians, here's a draft model:

[code]

This will be a composite primary key case, here's an example of how that was done here: https://github.com/hassanhabib/OtripleS/blob/9ef94d0b9abb00fe5cc5de614b506c8077d93204/OtripleS.Web.Api/Brokers/Storage/StorageBroker.StudentSemesterCourses.References.cs#L14-L17

[2020-09-07 16:22] a-urel commented on #131
@hassanhabib @AgentEnder I think we should clarify the definition of our product.

I thought OtripleS as a [school information system](https://en.wikipedia.org/wiki/Student_information_system) for [K12](https://en.wikipedia.org/wiki/K%E2%80%9312), not a [learning management system](https://en.wikipedia.org/wiki/Learning_management_system).

We can aim to provide both functionality, of course. But

[2020-09-07 19:54] hassanhabib commented on #131
@a-urel it's definitely not a learning management system (yet) - I agree with you, it should just be for schools to be able to manage their students data.
But ideally we will have an extension OtripleS.Learn where we integrate with Microsoft Teams for instance to provide a seamless classroom experience, since this is where it seems things are going since the pandemic.

[2020-09-09 18:56] AgentEnder commented on #144
If anyone wants to take my service task this go around I'd appreciate it. My dev machine started overheating over the weekend and I'm unfortunately not going to get it back in time to work on this today. @hassanhabib  (@eriadhami this one is pretty similar to yours, might be easy to knock out both).

Sorry.

[2020-09-09 18:57] AgentEnder commented on #146
I'd want a bit flag called PrimaryContact or something like that. Where are we storing the actual contact info for guardians?

[2020-09-09 18:58] hassanhabib commented on #146
In a separate Contact table

[2020-09-09 19:00] AgentEnder commented on #146
That makes sense, was not sure how normalized we would keep that. I've seen systems that do both. The PrimaryContact, or maybe even PrimaryGuardian flag still makes sense imho.

[2020-09-09 19:04] eriadhami commented on #144
Sure, i can do that

[2020-09-09 19:05] AgentEnder commented on #144
Appreciate it @eriadhami , I've kept personal projects off work computer so far and I'd like to keep it that way.

[2020-09-09 22:21] hassanhabib commented on #146
Definitely, I agree.

[2020-09-10 17:37] a-urel commented on #131
This is the modified `Assignment` model:

[code]

[2020-09-14 04:21] #144 closed

[2020-09-14 07:16] hassanhabib commented on #146
Thank you all for your contributions, here's an overview of our StudentGuardian entity model this week:

[code]
Now, let's talk about StudentGuardians:

## Setup

- StudentGuardian Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- StudentGuardian Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- StudentGuardian Broker Selec

[2020-09-14 07:18] hassanhabib commented on #131
@a-urel LGTM, go for it.

[2020-09-14 07:22] hassanhabib opened #158 "Discuss Contact Model"
Hi everyone,
In this issue, we want to discuss a contact model, a contact model could be for student, teacher, admin, guardian or any other person entity on the system, here's a draft:

[code]

[2020-09-14 10:42] AgentEnder commented on #158
Phone should be split into at least Cellphone and reg. Phone, maybe work phone too. Knowing that a number is textable would be important.

[2020-09-15 18:30] devmanzur commented on #158
Hello @hassanhabib sorry for being inactive while. Can I start contributing from this week?

[2020-09-15 19:13] hassanhabib commented on #158
@AgentEnder good point, yes.

[2020-09-15 19:14] hassanhabib commented on #158
@devmanzur you sure can, will assign some work to you tonight.

[2020-09-15 19:14] hassanhabib commented on #158
@devmanzur you sure can, will assign some work to you tonight.

[2020-09-15 19:15] devmanzur commented on #158
Thank you

[2020-09-18 12:45] devmanzur commented on #146
I am really sorry to let you know i will not be able to complete this weeks task because i am in a remote location, i did not expect the internet to be this bad here. Extremely sorry. Can someone complete my task please?

[2020-09-18 13:29] viralpandya commented on #146
@devmanzur : I can take up your task.

[2020-09-21 13:36] hassanhabib commented on #158
Thank you all for your contributions, here's an overview of our Contact entity model this week:

[code]
Now, let's talk about Contacts:

## Setup

- Contact Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST [done]

## Broker

- Contact Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST [done]
- Contact Broker Select All function @hassanhabi

[2020-09-21 14:10] AgentEnder commented on #158
@hassanhabib are we not going to differentiate cell phones as discussed? This is fine if we don't want to, but school admins might want to send a text via some service such as remind.com that would only be effective for cells

[2020-09-22 21:39] #146 closed

[2020-09-24 14:22] hassanhabib commented on #158
@AgentEnder Definitely, go ahead and add an enum for `CellPhone` in the options.

[2020-09-26 18:26] hassanhabib opened #175 "Upgrading to .NET 5 RC"
This week we will be upgrading our entire solution to .NET 5 RC and learn about C# 9 EF 5 and all the other features that the technology comes with.
There will be no assignments I will upgrade the solution, your responsibility is:
1. Make sure you get Visual Studio Preview 2019 version.
2. Learn about C# 9.0
3. Ask me if you run into any issues.

[2020-09-28 07:57] hassanhabib commented on #158
@tobidub if you have the capacity, please take care of the acceptance tests for `Contacts`

[2020-09-28 08:05] hassanhabib opened #176 "Student Contact"
This upcoming sprint we will be discussing attaching contact entities to a student entity.
Ideally, a contact entity and a student entity should have a middle entity in between to allow the following:
1. Having multiple contacts for one student.
2. younger students with the same contact information (usually it's just the parents phones).
So this is very likely a many-to-many relationship.
by the t

[2020-09-28 08:55] devmanzur commented on #158
I can take that.

[2020-09-28 09:28] tobidub commented on #158
Sure give it a try :) If you have problems, i will do it in the evening.

[2020-09-28 18:35] devmanzur commented on #158
done

[2020-09-29 02:39] AgentEnder commented on #176
I think a glue entity would be suited.

Use case: brother + half sister.

Brother has mom + dad as contacts, dad as primary contact. Half sister may still have mom as a contact, but her primary contact might be her dad. Glue entity would prevent duplication of the mom record. Glue entity also allows having the bit field for IsPrimary

[2020-09-29 17:27] tobidub commented on #176
I dont think students should share contacts.

And we already have a primary field in contacts.

[2020-09-29 18:03] AgentEnder commented on #176
@tobidub my proposal would be moving the primary field from contact to the glue entity.

How would you propose storing contacts for brother + sister? Without them sharing contacts you would be duplicating data. Updating the phone number would have to be done for each sibling

[2020-09-30 19:56] tobidub commented on #176
Shouldnt they then share the same guardian? and the guardian has a contact with those information.

Student Contact is for me Student specific.

[2020-10-01 01:02] AgentEnder commented on #176
@tobidub You are 100% correct, I dont know where my head was at. For some reason I was combining this with studentguardian entity. My bad.

[2020-10-01 23:46] tobidub commented on #176
@AgentEnder no problem. This is a discussion, so we have to discuss ;)

[2020-10-02 20:02] a-urel commented on #176
Though students might share contacts, Joe's mother might be Jane's aunt.
So, one-to-many relationship between `Student` and `Contact` would be better, IMO.

[2020-10-02 20:20] AgentEnder commented on #176
@a-urel I think you're making the same mistake I was making. This entity would be to store the student's own contact info, not their guardians or relatives. StudentGuardianContact would be a different entity relating StudentGuardian to a Contact record.

[2020-10-02 21:00] a-urel commented on #176
Well, no idea then :)

[2020-10-04 09:28] #158 closed

[2020-10-04 09:28] hassanhabib commented on #175
Upgrade completed, here's how it was done:
https://www.youtube.com/watch?v=ufjtuAel538&ab_channel=HassanHabib

[2020-10-04 09:28] #175 closed

[2020-10-05 09:58] hassanhabib commented on #176
@AgentEnder what if the student has multiple contact options? maybe they have two phones? or even multiple contacts of different types?
Now, for students sharing contacts, it doesn't necessarily have to be through the guardian, but I can see this situation being less and less likely to happen today.
Back in the day, there used to be one landline phone for the entire family, so my contact is my bro

[2020-10-05 10:25] hassanhabib commented on #176
Thank you all for your contributions, here's an overview of our StudentContact entity model this week:

[code]
Now, let's talk about StudentContacts:

## Setup

- StudentContact Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST [done]

## Broker

- StudentContact Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST [done]
- StudentContact Bro

[2020-10-05 10:27] hassanhabib opened #178 "Teacher Contact"
This issue should be just like a teacher contact
[code]

The case for many to many here is just simply teachers sharing the same office with the same landline phone number as an option of contact - let's discuss.

[2020-10-05 20:54] a-urel commented on #178
@hassanhabib Probably, many-to-many relation between a person and his/her contact info is an over-engineered approach. Let's use a simpler design. People usually don't have common phone numbers, e-mail addresses, etc.

[2020-10-07 13:08] hassanhabib commented on #178
@a-urel they usually don't - but sometimes they do - we should be able to cover that edge case if we need to especially that the cost isn't that high to have that model.

[2020-10-08 18:22] eriadhami commented on #176
If anyone needs help with the tasks I would be happy to help.

[2020-10-08 18:26] AgentEnder commented on #176
@eriadhami I've been caught up between work and working on buying a house, if you could take a look at mine I'd appreciate it as its already overdue

[2020-10-08 18:29] eriadhami commented on #176
@AgentEnder don't worry my friend. I will finish it later.

[2020-10-09 04:14] viralpandya commented on #176
I am working on my task.

[2020-10-09 07:03] devmanzur commented on #176
working on my task

[2020-10-09 07:10] devmanzur commented on #176
anyone else facing this issue?
[https://photos.app.goo.gl/4o3vqwvx8iQ8N3f66](url)

[2020-10-09 07:11] devmanzur commented on #176
anyone else facing this issue?
[](https://photos.app.goo.gl/4o3vqwvx8iQ8N3f66)

[2020-10-09 07:12] devmanzur commented on #176
anyone else facing this issue? https://photos.app.goo.gl/4o3vqwvx8iQ8N3f66

[2020-10-09 11:06] a-urel commented on #176
I've just started my task, sorry for delay.

[2020-10-09 17:08] AgentEnder commented on #178
If we do many-to-many here than the IsPrimary field definitely needs to be remembered. Otherwise, I see no problems with either approach and the added flexibility may be worth it.

[2020-10-09 18:20] devmanzur commented on #176
Build failed:

`  OtripleS.Web.Api.csproj: [NU1202] Package Microsoft.EntityFrameworkCore.SqlServer 5.0.0-rc.1.20451.13 is not compatible with net50 (.NETFramework,Version=v5.0). Package Microsoft.EntityFrameworkCore.SqlServer 5.0.0-rc.1.20451.13 supports: netstandard2.1 (.NETStandard,Version=v2.1)
  OtripleS.Web.Api.csproj: [NU1202] Package Microsoft.EntityFrameworkCore.Tools 5.0.0-rc.1.20451.13

[2020-10-11 12:37] hassanhabib commented on #176
@devmanzur did you follow the steps I pointed out in here?
https://www.youtube.com/watch?v=ufjtuAel538&ab_channel=HassanHabib

[2020-10-11 13:16] devmanzur commented on #176
I missed it, my bad

[2020-10-12 14:08] hassanhabib commented on #178
Will post the tasks/assignments for this tonight, thanks.

[2020-10-13 06:53] hassanhabib commented on #178
Thank you all for your contributions, here's an overview of our TeacherContact entity model this week:

[code]
Now, let's talk about TeacherContacts:

## Setup

- TeacherContact Model Setup & Migrations with EF Core @viralpandya  Monday 12:00 AM - 11:59 PM PST

## Broker

- TeacherContact Broker Select By Id function @viralpandya  by Tuesday 12:00 AM - 11:59 PM PST
- TeacherContact Broker Select A

[2020-10-13 06:54] hassanhabib opened #183 "Guardian Contact"
Just as we did with students and teachers, let's discuss the Guardian Contact

[code]

[2020-10-14 04:10] viralpandya commented on #176
Hi OTripleS Team,

Thank you for all the good work. Keep working and keep growing.

Some team members were running late for their tasks. I was assigned modify task and glue entity does not require modify. So, I have worked on delete task after talking to @hassanhabib .

Sorry @a-urel , if I have completed your task and if you were working on the same.

@Team: Please feel free to ask for help, if a

[2020-10-19 05:47] #176 closed

[2020-10-19 07:30] #178 closed

[2020-10-19 07:34] hassanhabib commented on #183
Thank you all for your contributions, here's an overview of our GuardianContact entity model this week:

[code]
Now, let's talk about GuardianContacts:

## Setup

- GuardianContact Model Setup & Migrations with EF Core @Jamaxack  Monday 12:00 AM - 11:59 PM PST

## Broker

- GuardianContact Broker Select By Id function @Jamaxack  by Tuesday 12:00 AM - 11:59 PM PST
- GuardianContact Broker Select Al

[2020-10-19 07:37] hassanhabib opened #192 "User Contact"
Just as we did with students, teachers and guardians let's discuss the User Contact

[code]

[2020-10-21 07:53] eriadhami commented on #183
@Jamaxack, if you need help with your task I will be happy to help.

[2020-10-26 15:19] hassanhabib commented on #192
Will post the assignments for this tonight

[2020-10-27 06:10] hassanhabib commented on #192
Thank you all for your contributions, here's an overview of our UserContact entity model this week:

[code]
Now, let's talk about UserContacts:

## Setup

- UserContact Model Setup & Migrations with EF Core @tajwal   Monday 12:00 AM - 11:59 PM PST

## Broker

- UserContact Broker Select By Id function @tajwal  by Tuesday 12:00 AM - 11:59 PM PST
- UserContact Broker Select All function @tajwal  by

[2020-10-31 15:30] #183 closed

[2020-11-03 18:52] #192 closed

[2020-11-03 18:58] hassanhabib opened #209 "Discuss Exam Model"
In this cycle of features we will be working on the following entities:
Exams
Student Exam
Student Grades (Reports)
Calendar
Attachments
There might be some other entities related we will discuss as we go.

[code]

Let's discuss.

[2020-11-03 19:02] AgentEnder commented on #209
Should this model also include necessary entities to handle form creation / web-based exams in addition to paper based?

Web based being exams that OTripleS displays and students take within our web client, Paper based being anything else, where OTripleS functions as a web based grade book?

[2020-11-05 16:50] hassanhabib commented on #209
@AgentEnder that's a good point - and yes we should add to this model references to all related entities (as soon as they are created) I am still thinking however about the relationships between an exam and a student - we might need an `StudentExam` glue entity to handle that situation.
There are situations where students may need to retry and take the exam again, but in that case that would be a

[2020-11-05 17:22] AgentEnder commented on #209
I think a StudentExam entity does make sense, having properties:
[code]

As far as using a new Exam record for retaking exams, I would not agree with that. There are situations where a teacher may want a student to take the same version of the exam, and even if that is not the case then there would still need to be a relationship between the original exam and the second attempt's exam. I'd propose

[2020-11-05 23:03] tobidub commented on #209
I dont know if im getting this right.

There is an Exam about a Topic of Course in one Semester. (i dont lets say CourseExam)

A Teacher can create different Exams about a Topic of a Course. (TeacherCourseExam)
(Will there be a relationship between Teacher and Course)

A Student can take Exams created by a Teacher about a Topic multiple times
And an Other Student can take the same Exam

[2020-11-05 23:28] tobidub commented on #209
There is a Exam about a Topic of Course
There is the concrete Exam created by a Teacher about a Topic of Course
There is a Exam about a Topic of Course created by a Teacher that a Student took which can be graded

Which Exam are we trying to model here?

[2020-11-06 10:19] hassanhabib commented on #209
@tobidub graded exams precisely - mid-terms, finals .. etc.

[2020-11-09 06:54] hassanhabib opened #210 "Discuss Student Exam Model"
We need a data representation of every attempt for a student to take an exam.

An overall model design would contain the following properties:

[code]

Let's discuss.

[2020-11-09 06:59] #131 closed

[2020-11-09 07:00] hassanhabib commented on #209
Thank you all for your contributions, here's an overview of our UserContact entity model this week:

[code]
Now, let's talk about UserContacts:

## Setup

- UserContact Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- UserContact Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- UserContact Broker Select All function @hass

[2020-11-12 22:20] eriadhami commented on #209
If anyone (@hassanhabib or @devmanzur) does not have time for the above tasks, I would be happy to help after Friday 06:00 AM PST. Thanks

[2020-11-16 10:13] #209 closed

[2020-11-16 10:16] hassanhabib commented on #210
Thank you all for your contributions, here's an overview of our StudentExam entity model this week:

[code]
Now, let's talk about StudentExams:

## Setup

- StudentExam Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST [done]

## Broker

- StudentExam Broker Insert function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST [done]
- StudentExam Broker Select All functi

[2020-11-23 04:10] #210 closed

[2020-11-23 06:06] hassanhabib opened #226 "Calendar Model Discussion"
This week, we are going to build the foundation entity for a calendar - calendars are very common in schooling systems for all involved members, teachers, students, admins and guardians/parents.
We want to offer a pipeline/solution for a community calendar for the entire school plus a personalized calendar entity for each and every individual to fit just their schedules.

the following is just the

[2020-11-23 06:07] hassanhabib opened #227 "Calendar Entry Model Discussion"
We need to think of a model to represent an entry in a calendar, here's some high level requirements:

- It needs to represent a label and a description
- It might require attaching a file
- It needs to have a start date and an end date
- Might need a reminder time (1 day before it occurs for instance)

Let's think together about any other information we might need in a calendar entry.

[2020-11-23 18:56] stasnowak commented on #227
public class CalendarEntry : IAuditable
    {
        public Guid Id { get; set; }
        public string Label { get; set; }
        public string Description { get; set; }
        public DateTimeOffset StartDate { get; set; }
        public DateTimeOffset EndDate { get; set; }
        public bool IsAllDay { get; set; }
        public DateTimeOffset RemindAtDateTime { get; set; }
        public Re

[2020-11-23 19:27] a-urel commented on #227
@hassanhabib Do you mean course schedules or a generic calendar?

[2020-11-23 19:31] AgentEnder commented on #227
For calendar entries we should try to follow iCal specification, to allow people to easily import / export entries.

The RFC for that spec is here: https://tools.ietf.org/html/rfc5545

[2020-11-24 01:13] hassanhabib commented on #227
@a-urel generic schedule - like an outlook calendar for instance.
The thing about this schedule entries though is that it should have visibility based on the user type (student, teacher, admin ...etc)
In this sense a course calendar would be just another entry on the community calendar.
What do you think?

[2020-11-24 01:14] hassanhabib commented on #227
@AgentEnder any particular model you can extract out of this standard you shared?

[2020-11-24 01:15] hassanhabib commented on #227
@stasnowak this is beautiful - thanks for sharing.
Anyone has any follow ups on @stasnowak proposed model?

[2020-11-24 21:32] a-urel commented on #227
I think recurrence is crucial in this use case.

[2020-11-24 21:43] stasnowak commented on #227
@a-urel hay i was thinking also about recurring events, but i think a single calendar entry should not know anything about other entries. further down in the UI a component could be build that will create many entries for recurrence. In other case it would be difficult to track when you want to delete one entry of an series for example or reschedule an single day.

[2020-11-24 21:57] a-urel commented on #227
@stasnowak I think including recurrence info in calendar entry is the simplest design.
This is not a very simple problem. Recurrence exceptions (edited, deleted) should create physical records.
But physical records may be required in some other cases, too.

A third party schedular tool (e.g. DevExpress, Syncfusion, etc.) would simplify this task. Syncfusion have a free community license,
@hassanha

[2020-11-24 22:28] stasnowak commented on #227
@a-urel I understand you. Let's say we create a recurring calendar entry it would have the same label. Maybe an operation like DeleteByLabel could provide an solution, but then again what when the names occurrences in other entries that are not a part of the series you want to delete. In that case i think you are right and an Recurrence Model addition is needed.

[2020-11-25 03:31] hassanhabib commented on #227
@a-urel  for the UI (Blazor) we will be using Syncfusion - but we don't want external libraries models to leak into our business logic - we want to create our own native models to ensure flexibility and decoupling from any external resources.

[2020-11-30 15:38] #226 closed

[2020-11-30 15:38] hassanhabib commented on #227
I will be posting the assignments and the next model discussion tonight

[2020-12-01 07:43] hassanhabib commented on #227
This week, we are going to build the foundation entity for a CalendarEntry - CalendarEntrys are very common in schooling systems for all involved members, teachers, students, admins and guardians/parents.
We want to offer a pipeline/solution for a community CalendarEntry for the entire school plus a personalized CalendarEntry entity for each and every individual to fit just their schedules.

the f

[2020-12-01 07:45] hassanhabib opened #243 "Attachment Model"
This upcoming sprint we want to discuss `Attachment` model, here's a draft model:

[code]

[2020-12-01 07:51] tajwal commented on #243
what about ContectType/extension(word, Pdf,images), we can later on benefit from it.

[2020-12-02 01:43] stasnowak opened #245 "Calendar with A that got named Calender with E"
@hassanhabib  I noticed that we write sometimes calend**a**r and sometimes calend**e**r and this happens to me too all the time. In the variable declaration it is maybe not important but not beautiful, but saw some occurrences in the namespaces and test method names. Can i fix it for us in an pull request, or how you want to handle issues like this one?

[2020-12-02 01:53] hassanhabib commented on #245
@stasnowak we should change them all to Calendar good point

[2020-12-02 02:02] stasnowak commented on #245
ok i can take care of it. I will do so after the one pull request #242 is merged, else i don't know if its gonna work well because it also is using some misspelled calendars

[2020-12-03 04:21] hassanhabib commented on #243
@tajwal that's a good idea.

[2020-12-03 10:33] stasnowak commented on #245
@hassanhabib can be closed after merging #247

[2020-12-03 20:47] viralpandya commented on #243
We need url as well, in case if we are going to store documents in cloud

[2020-12-04 06:10] #245 closed

[2020-12-07 08:31] #227 closed

[2020-12-07 08:34] hassanhabib commented on #243
Tasks & Assignments should be posted here tomorrow night

[2020-12-14 15:39] hassanhabib commented on #243
This week, we are going to build the foundation entity for a Attachment - Attachments are very common in schooling systems for all involved members, teachers, students, admins and guardians/parents.
We want to offer a pipeline/solution for a community Attachment for the entire school plus a personalized Attachment entity for each and every individual to fit just their schedules.

the following is

[2020-12-14 15:41] hassanhabib opened #257 "Student Attachments"
This week we will be setting up attachment to a student profile, a simple many to many relationship to attach the two entities:

[code]

[2020-12-17 14:32] eriadhami commented on #243
@hassanhabib do you want me to finish this task?

[2020-12-17 14:51] hassanhabib commented on #243
@eriadhami sure thing - thank you.

[2020-12-21 07:21] hassanhabib commented on #257
*** IMPORTANT ***
I will be holding off on assignments, give everyone some time off this week, we should start again our work on Monday Jan 4th - enjoy the time off talk to you all soon.

[2021-01-04 07:49] hassanhabib commented on #257
I will be posting the assignments for this feature shortly

[2021-01-04 09:57] hassanhabib commented on #243
@viralpandya please take care of the acceptance tests for Attachments so we can close this issue - I have re-assigned the tasks to you.

[2021-01-04 10:01] hassanhabib commented on #257
Thank you all for your contributions, here's an overview of our StudentAttachment entity model this week:

[code]
Now, let's talk about StudentAttachments:

## Setup

- StudentAttachment Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- StudentAttachment Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- StudentAttachment Br

[2021-01-04 10:04] hassanhabib opened #265 "Guardian Attachment"
This week we will be setting up attachment to a guardian attachments, a simple many to many relationship to attach the two entities:

[code]

[2021-01-04 18:21] viralpandya commented on #243
@hassanhabib : Sure

[2021-01-05 00:05] viralpandya commented on #257
@hassanhabib : Do we want to keep versioning of an attachment?

[2021-01-06 17:16] #243 closed

[2021-01-09 06:23] hassanhabib commented on #257
@viralpandya let's keep it simple for now - and react based on what schools need

[2021-01-09 17:19] viralpandya commented on #257
@Jamaxack  and @tobidub : Sorry I had to complete worktime assigned to you as I needed it for controller work to be completed on Thursday. I hope you do not mind. Please message me anytime when anyone of our teammate is crumbling with time management or resource. I will be happy to help.

[2021-01-11 07:37] hassanhabib commented on #265
Will post tasks and assignments tomorrow night

[2021-01-12 07:21] #257 closed

[2021-01-12 07:24] hassanhabib commented on #265
Thank you all for your contributions, here's an overview of our GuardianAttachment entity model this week:

[code]
Now, let's talk about GuardianAttachments:

## Setup

- GuardianAttachment Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- GuardianAttachment Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- GuardianAttachme

[2021-01-12 07:25] hassanhabib opened #274 "Teacher Attachments Model"
[code]

[2021-01-18 15:10] #265 closed

[2021-01-18 15:24] hassanhabib commented on #274
Thank you all for your contributions, here's an overview of our TeacherAttachment entity model this week:

[code]
Now, let's talk about TeacherAttachments:

## Setup

- TeacherAttachment Model Setup & Migrations with EF Core @hassanhabib Monday 12:00 AM - 11:59 PM PST

## Broker

- TeacherAttachment Broker Select By Id function @hassanhabib by Tuesday 12:00 AM - 11:59 PM PST
- TeacherAttachment Br

[2021-01-18 15:36] hassanhabib opened #281 "Calendar Entry Attachment Model"
[code]

[2021-01-23 17:22] #274 closed

[2021-01-25 15:20] hassanhabib commented on #281
I will be posting the assignments tonight

[2021-01-26 10:00] hassanhabib commented on #281
Thank you all for your contributions, here's an overview of our CalendarEntryAttachment entity model this week:

[code]
Now, let's talk about CalendarEntryAttachments:

## Setup

- CalendarEntryAttachment Model Setup & Migrations with EF Core @viralpandya Tuesday 12:00 AM - 11:59 PM PST

## Broker

- CalendarEntryAttachment Broker Select By Id function @viralpandya by Tuesday 12:00 AM - 11:59 PM P

[2021-01-26 10:02] hassanhabib opened #288 "Course Attachment"
[code]

Hit the like button on this post if you'd like to be a part of developing this feature

[2021-01-27 11:14] eriadhami commented on #281
Please, can anybody take over my task for this week only?

[2021-01-27 12:19] ZionLloyd05 commented on #281
I can help cover up for your task.

[2021-01-27 12:29] eriadhami commented on #281
@ZionLloyd05 Many thanks. Much appreciated

[2021-01-27 12:53] bilalmehrban commented on #281
@ZionLloyd05 I am also available to cover up the task for eriadhami. if you need any help, do let me know.

[2021-01-27 12:54] ZionLloyd05 commented on #281
Great! I'll let you know as soon as I need some help.

[2021-01-27 18:17] ZionLloyd05 commented on #281
Hi @bilalmehrban, could you please start up with eriadhami's task, so we can be much faster..

[2021-01-27 18:53] bilalmehrban commented on #281
@ZionLloyd05 I have done mines. I will send PR for eriadhami's task as well tomorrow.

[2021-01-30 03:59] viralpandya commented on #281
I should be done with controller and acceptance tests tomorrow when All CRID operations for service are merged.

[2021-01-30 04:01] viralpandya commented on #281
I have worked on Delete and Add PR to try to complete them as per standards and starting to work on my assignment.

[2021-02-01 07:01] hassanhabib commented on #288
I will posting the assignments on this Monday night

[2021-02-02 16:14] #281 closed

[2021-02-02 16:17] hassanhabib commented on #288
Thank you all for your contributions, here's an overview of our CourseAttachment entity model this week:

[code]
Now, let's talk about CourseAttachments:

## Setup

- CourseAttachment Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- CourseAttachment Broker Select By Id function @bilalmehrban by Tuesday 12:00 AM - 11:59 PM PST
- CourseAttachment Brok

[2021-02-03 14:50] eriadhami commented on #288
Can anybody help me with my task please? I tested positive for Covid-19.

[2021-02-03 14:56] stasnowak commented on #288
@eriadhami I will take care. Hope you get better as fast as possible

[2021-02-03 14:57] eriadhami commented on #288
@stasnowak thanks a lot. Much appreciated

[2021-02-03 15:15] hassanhabib commented on #288
@eriadhami take it easy brother. Wish you a healthy and speedy recovery.

[2021-02-08 03:13] #288 closed

[2021-02-08 17:52] hassanhabib opened #304 "Code Clean Up - Code Rubs"
Please take this week to do code rubs for the project.
here's what code rubs are:
https://hassanhabib.com/2020/02/09/code-rub/

Take a file of your choice, and make sure it follows our coding and architecture standards.
https://github.com/hassanhabib/CSharpCodingStandard

[2021-02-16 01:29] #304 closed

[2021-02-16 01:31] hassanhabib opened #308 "Exam Attachments"
Thank you all for your contributions, here's an overview of our ExamAttachment entity model this week:

[code]
Now, let's talk about ExamAttachments:

## Setup

- ExamAttachment Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- ExamAttachment Broker Select By Id function @bilalmehrban by Tuesday 12:00 AM - 11:59 PM PST
- ExamAttachment Broker Select

[2021-02-23 08:59] #308 closed

[2021-02-23 08:59] hassanhabib opened #316 "CODE RUB Week 02"
Please take this week as an opportunity to do code rubs on our code base - thank you all.

[2021-03-02 05:57] #316 closed

[2021-03-02 06:00] hassanhabib opened #320 "Assignment Attachments Model"
Thank you all for your contributions, here's an overview of our AssignmentAttachment entity model this week:

[code]
Now, let's talk about AssignmentAttachments:

## Setup

- AssignmentAttachment Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- AssignmentAttachment Broker Select By Id function @bilalmehrban by Tuesday 12:00 AM - 11:59 PM PST
- Assig

[2021-03-07 11:39] #320 closed

[2021-03-09 15:48] hassanhabib opened #328 "Fees Discussion"
Hi everyone,
Let's take this week to discuss registration and exam fees functionality in OtripleS.
For a lot of schools - there are fee processing needed to register into school, monthly or by semester fees.
Let's discuss in general what would that look like in a school system. here's some overall guidelines:
1. Not all schools require fees
2. School fees vary based on the entity, there's class fe

[2021-03-10 01:07] viralpandya commented on #328
Other than exam fees, why do we need fees? Most of the public schools are funded by government and they do not need anything other than exam fees and in some cases exam fees is also not needed.

Are we targeting this software to be used by private schools as well?

[2021-03-10 08:46] hassanhabib commented on #328
@viralpandya private schools are a nice to have. but mainly public schools. in some public schools kids pay registration fees. they are very small compared to private schools but still.
Also class materials, books and such, they come with fees even in some public schools around the world.

[2021-03-13 09:35] eriadhami commented on #328
Do we need to have a 'ExamFee', 'ClassFee', 'RegistrationFee' etc models and then make glue entities with students like 'StudentExamFee' or we can continue with a 'FeeCategory'?

[2021-03-15 15:24] hassanhabib commented on #328
@eriadhami yes - exactly.
We will start with an abstract fee entity then start building those glue entities right after.
I will post the assignments tonight.

[2021-03-16 07:27] bilalmehrban commented on #328
I agree with @hassanhabib even public schools does have fee. But it is not as much as compared to the private ones.

There can be Admission Fees, School bus Fees, Certificates Fee.

An abstract entity is definitely required where we can allow the Admin staff to Add Fees Type. Even the Fees can be different for different level of Standard so we can have some thing like Fee Group as well. Also we ca

[2021-03-18 06:20] hassanhabib commented on #328
Here's an initial idea about the model:

![image](https://user-images.githubusercontent.com/1453985/111581918-5319f480-8777-11eb-9dd9-2251d003f0b3.png)

[2021-03-22 08:31] hassanhabib commented on #328
Thank you all for your contributions, here's an overview of our Fee entity model this week:

[code]
Now, let's talk about Fees:

## Setup

- Fee Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- Fee Broker Select By Id function @bilalmehrban by Tuesday 12:00 AM - 11:59 PM PST
- Fee Broker Select All function @bilalmehrban by Tuesday 12:00 AM - 11:59

[2021-03-22 08:49] bilalmehrban commented on #328
I am going to do my task today as I will not be available on Tuesday.

[2021-03-24 19:25] eriadhami commented on #328
Sorry guys but i can not finish my task before Thursday 05:00 AM PST

[2021-03-25 19:51] sasestil opened #332 "Project improvements suggestion"
Hello,

First i want to thanks to  @hassanhabib for his initiation about project, contributors to this project, and for knowledge that you all are sharing with us

I have some suggestion that i think will improve project architecture.

**1. Exceptions dependency**

**Problem:** I think that services (service layer) should not be coupled with exceptions from external library. Ex. "UserService.cs" i

[2021-03-25 21:09] AgentEnder commented on #332
This should make a good discussion.

1. This is actually a pretty good catch, if using these introduces dependencies to EF that limits the usefulness of the brokers.
2. Brokers would throw the sql like exceptions purposefully, they are meant to just bridge between the api and its dependencies. Its the job of the services to translate that to user friendly output / exception types.
3. I don't agree

[2021-03-25 22:09] sasestil commented on #332
Sorry i give you a bad example.
My point was not to change the interface surface, but only file names that implements that interface (ex. IStorageBroker.cs).

**Examples:**
IStorageBroker.cs
EFStorageBroker.cs
DapperStorageBroker.cs
NHibernateStorageBroker.cs

**and**
IUserManagerBroker.cs
IdentityServerUserManagerBroker.cs
OtherIdentityUserManagerBroker.cs

**and**
IDateTimeBroker.cs
SystemDateTi

[2021-03-25 22:18] eriadhami commented on #332
I agree with @AgentEnder.
Also i do not agree with the changing of broker names. Changing the names brings us to make changes in the Service layer tomorrow if we need to change or swap external libraries on the Broker layer. We will need changes also on the DI.

[2021-03-26 18:40] joshmccall221 opened #335 "DbUpdateConcurrencyException -> Locked[Service]Exception -> [Service]DependencyValidationException"
DbUpdateConcurrencyException -> Locked[Service]Exception -> [Service]DependencyValidationException

see: [The-Standard/issues/1](https://github.com/hassanhabib/The-Standard/issues/1)

*note*: I will follow up with PR

[2021-03-27 07:32] hassanhabib commented on #332
@sasestil , @AgentEnder  and @eriadhami
Thank you guys I appreciate the feedback.
here's a couple of things that come to mind when thinking about moving native exceptions to the brokers.
If you move these exceptions to the broker layer, we fall into a critical issue, which is that brokers become no longer a thin layer with no logic in it, they become mappers of native exceptions to local exception

[2021-03-27 07:42] ZionLloyd05 commented on #328
Hello, I'm done with my feature but I noticed that on running the tests immediately I pulled from the master branch, the AssignmentAttachmentAcceptanceApiTests are failing, trying to check it out is the cause of delay.

I would appreciate if anyone checks it out as well and confirm that I'm not mistaken.

![image](https://user-images.githubusercontent.com/40478221/112713821-69425600-8ed7-11eb-810e

[2021-03-27 13:51] viralpandya commented on #328
Checking that just now.

On Sat, Mar 27, 2021, 3:42 AM ZionLloyd05 ***@***.***> wrote:

[2021-03-27 14:14] viralpandya commented on #328
@ZionLloyd05 : you ca fix acceptance test later. Complete your workitem and create another PR for fixing acceptance tests.

I am not having that issue. So, once all the PRs merged in, you can check again if issue persists.

[2021-03-27 14:21] ZionLloyd05 commented on #328
Ok, are you suggesting that I should hold on for a merge and pull an updated version or submit the PR for my task, considering that the test issue still persists?

[2021-03-27 14:22] ZionLloyd05 commented on #328
Ok, are you suggesting that I should hold on for a merge and pull an updated version or submit the PR for my task, considering that the test issue still persists?

[2021-03-29 10:00] sasestil commented on #332
What if we create a base exceptions, let say for Storage Brokers:

StorageBrokerValidationException.cs
StorageBrokerDependencyException.cs
StorageBrokerServiceException.cs
DuplicateRecordException.cs
UpdateConcurrencyException.cs

then we map external exceptions to local storage exceptions, something like this:
[code]

than in the service layer ex. UserService.cs we catch validation and only stora

[2021-03-31 15:49] #328 closed

[2021-04-03 16:59] #335 closed

[2021-04-06 07:34] hassanhabib opened #344 "CODE RUB - Retrieve All"
Hi everyone,
This week, I need everyone to remove any exception handling and their tests for any retrieve all methods that tries to handle `DbUpdateException` - all the possible exceptions that EF throws are just `SqlException` in this case - there's absolutely no way you would get a `DbUpdateException` when you do a RetrieveAll.

Please hit like on this post so I can assign next weeks tasks as we

[2021-04-06 07:39] hassanhabib commented on #332
@sasestil thanks for your feedback, here's a couple of issues what that approach:
1. Not all brokers implement all CRUD operations at all times. there are cases where you need `DeleteAll` or `UpdateAll` the generic proposed interface doesn't really satisfy that condition.
2. You are still handling and mapping exceptions on the broker level in your first code snippet. this means that you have busin

[2021-04-06 13:59] sasestil commented on #332
@hassanhabib

Yep i agree. It make sense.

But i have another dilemma. If we don't throw exception from broker then how we can handle external dependency exception that returned as result object (methods that does not throw exceptions). Let say for example UpdateUserAsync method in the UserManagmentBroker.cs

[code]
userManagement.UpdateAsync method returns result from operation

[code]

[2021-04-12 14:04] hassanhabib opened #348 "Exam Fees Model"
![image](https://user-images.githubusercontent.com/1453985/114406088-19f95800-9b5c-11eb-836d-724b28839bb6.png)

Thank you all for your contributions, here's an overview of our ExamFee entity model this week:

[code]
Now, let's talk about ExamFees:

## Setup

- ExamFee Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- ExamFee Broker Select By Id funct

[2021-04-12 14:05] #344 closed

[2021-04-15 12:32] eriadhami commented on #348
@ZionLloyd05  @tajwal if you guys need help with your tasks I will be happy to help

[2021-04-15 12:41] ZionLloyd05 commented on #348
@eriadhami Thanks for offering to help out.

Yes, I would need you to help out with my task if you're free to help. Thanks

[2021-04-15 13:54] viralpandya commented on #348
I should be working on my assigned workitems today.

[2021-04-15 17:10] tajwal commented on #348
Yes, please I need your help this week.

[2021-04-16 05:15] bilalmehrban commented on #348
@tajwal How can I help? I have some free time. @eriadhami you can help @ZionLloyd05 , I will hell @tajwal. :)

[2021-04-16 05:53] eriadhami commented on #348
@bilalmehrban many thanks but the tasks are finished.

[2021-04-18 18:29] #348 closed

[2021-04-20 07:48] hassanhabib opened #357 "Student Exam Fee Model"
![image](https://user-images.githubusercontent.com/1453985/114406088-19f95800-9b5c-11eb-836d-724b28839bb6.png)

Thank you all for your contributions, here's an overview of our StudentExamFee entity model this week:

[code]
Now, let's talk about StudentExamFees:

## Setup

- StudentExamFee Model Setup & Migrations with EF Core @bilalmehrban Tuesday 12:00 AM - 11:59 PM PST

## Broker

- StudentExamF

[2021-04-20 08:07] hassanhabib commented on #332
@sasestil That's a great question.
Foundation services (broker-neighboring services) are simply mappers on top of a validation layer. Mapping can mean that a returned value from an external dependency can also be converted to an exception if we need it to be. It can also be the other way around.
Here's a story for you. In one of the projects that I was working on, we had an SDK that sends emails -

[2021-04-20 10:21] bilalmehrban commented on #357
@hassanhabib
I have added the below as PK to the above model.
`public Guid Id {get; set;}`

[2021-04-21 02:15] hassanhabib commented on #357
@bilalmehrban perfect! thank you - I appreciate your effort.

[2021-04-22 15:00] sasestil commented on #344
I think that this should also apply to RetrieveById methods. According to Microsoft documentation [DbUpdateException](https://docs.microsoft.com/en-us/dotnet/api/system.data.entity.infrastructure.dbupdateexception?view=entity-framework-6.2.0) is thrown by DbContext when the saving of changes to the database fails. RetrieveById methods does not make any changes to database.

[2021-04-24 22:14] StilSoft commented on #332
First,
Thank you very much for effort you put to give me such good explanation to my questions. Now things is much more clear to me. Now slowly i can see more big picture for how "The Standard" is conceived. I also have many more questions about arhitecture, especially about structure of projects. I still have dillema how to organize files in projects and solutions, where to put different type of

[2021-04-24 22:25] sasestil commented on #332
@hassanhabib
First,
Thank you very much for effort you put to give me such good explanation to my questions. Now things is much more clear to me. Now slowly i can see more big picture for how "The Standard" is conceived. I also have many more questions about arhitecture, especially about structure of projects. I still have dillema how to organize files in projects and solutions, where to put diffe

[2021-04-27 11:39] hassanhabib commented on #357
Holding off this week until we resolve the `id` issue.
@viralpandya  keep me posted on this please.

[2021-04-27 14:47] viralpandya commented on #357
Its a huge change. Yesterday, resolved that issue and fixed errors related to Id. Tonight, I should be able to create PR for the same.

[2021-04-27 15:44] eriadhami commented on #357
I can help. Just tell me what you want me to do

[2021-04-27 15:49] viralpandya commented on #357
Thank you, @eriadhami! Once, these changes are merged in, I should ask you for help (if I am running out of time). Thank you so much for the kind offer. Appreciate team's great work!

[2021-04-28 00:11] hassanhabib commented on #332
@sasestil I'm always happy to hear feedback. Thank you for your kind words and your questions - looking forward to growing The Standard with intelligent engineers like yourself.

[2021-04-30 07:18] hassanhabib commented on #332
Closing this issue - feel free to reopen or create a new one if you have any questions.

[2021-04-30 07:18] #332 closed

[2021-05-01 13:09] #357 closed

[2021-05-03 08:30] hassanhabib opened #369 "Registration Model"
In this sprint we will be developing a registration model - registration could be to join the school or a particular class or activity here's our model:

[code]

This task will start Monday 10th of May - Please hit the like button on this issue so I can assign a task to you

[2021-05-03 08:31] hassanhabib opened #370 "Upgrade the entire project to .NET 6-Preview"
This week I will be upgrading our entire project to .NET 6-Preview - I will follow up with video and instruction of how to run this project on your local machine.

[2021-05-10 01:51] hassanhabib commented on #370
Task completed. Please follow the instructions in this video:
https://www.youtube.com/watch?v=juyZCgF9g2E

[2021-05-10 01:51] #370 closed

[2021-05-10 14:29] hassanhabib commented on #369
I will be posting the assignments tonight

[2021-05-12 04:17] hassanhabib commented on #369
Thank you all for your contributions, here's an overview of our Regiseration entity model this week:

[code]
Now, let's talk about Regiserations:

## Setup

- Regiseration Model Setup & Migrations with EF Core @eriadhami  Tuesday 12:00 AM - 11:59 PM PST

## Broker

- Regiseration Broker Select By Id function @eriadhami  by Tuesday 12:00 AM - 11:59 PM PST
- Regiseration Broker Select All function @

[2021-05-16 14:40] #369 closed

[2021-05-18 12:22] hassanhabib opened #381 "Student Registration Model"
This upcoming week, we will be working on the Student Registration Model
This model is just a many to many glue entity to reference a student by id and a registration by id as follows:

[code]

Please hit the like button here so I can assign work to you next week.

[2021-05-25 09:09] hassanhabib commented on #381
Thank you all for your contributions, here's an overview of our StudentRegistration entity model this week:

[code]
Now, let's talk about StudentRegistration :

## Setup

- StudentRegistration Model Setup & Migrations with EF Core @eriadhami  Tuesday 12:00 AM - 11:59 PM PST

## Broker

- StudentRegistration Broker Select By Id function @eriadhami  by Tuesday 12:00 AM - 11:59 PM PST
- StudentRegist

[2021-06-01 00:32] hassanhabib commented on #381
@todca are you gonna be able to finalize controllers?
@eriadhami I might need you to take care of the controllers if @todca isn't avaialb.e

[2021-06-01 01:24] todoca commented on #381
hi my dear friend @hassanhabib, honestly, I need help to upload the code to github, it is my first time in collaborative mode, I would greatly appreciate if you could explain to me a little what I should do. Thanks in advance.

[2021-06-01 01:53] todoca commented on #381
I think I did it! please give me your comments and thanks for the opportunity to collaborate.

[2021-06-01 06:43] stasnowak commented on #381
@todoca Hay i do not see a pull request from your side. If your code is local you need to commit and push it to your fork of
OtripleS. After that you will be ask inside visual studio to create a pull request from commited stuff (you will be redirected to github.com to complete). I included two pictures and hope this helps. You also need to make sure that your branch is up to date with the current

[2021-06-01 07:11] bilalmehrban commented on #381
@todoca I have some free time I can explain you how you can make PR, let me know when you are avialable we can have call on teams than I can show you can do it.

[2021-06-01 10:06] todoca commented on #381
Hi my dear friends, @stasnowak and @bilalmehrban, I think I already did, considering your help.
I attach the images of what I do. Thanks for the support, and if there are any additional steps, please let me know.

![fork](https://user-images.githubusercontent.com/69520003/120305763-0037df80-c286-11eb-9a8d-ec6bca09af11.png)
![pullrequest](https://user-images.githubusercontent.com/69520003/120306064

[2021-06-01 10:10] bilalmehrban commented on #381
@todoca great work buddy, I can see your Pull Request.

[2021-06-01 12:55] viralpandya commented on #381
@hassanhabib : I will complete acceptance tests by tonight/tomorrow.

[2021-06-03 08:48] babula38 opened #391 "In consistence property naming in *.Exceptions.cs"
I noticed there is a inconsistent naming of the property in service classes. [StudentService.ReturningQueryableStudentFunction](https://github.com/hassanhabib/OtripleS/blob/2cfe7d9f509013bda8e5a2d73e48006c847c0f13/OtripleS.Web.Api/Services/Students/StudentService.Exceptions.cs#L20).
Vs [StudentExamService,ReturningStudentExamsFunction();](https://github.com/hassanhabib/OtripleS/blob/2cfe7d9f509013

[2021-06-03 21:24] hassanhabib commented on #391
@babula38 the second for sure.

[2021-06-04 00:11] babula38 commented on #391
Shalli work on this?

[2021-06-05 10:41] hassanhabib commented on #391
@babula38 go for it.

[2021-06-07 03:18] #391 closed

[2021-06-07 03:18] #381 closed

[2021-06-08 11:47] SaddamBInSyed opened #397 "Working Demo ?"
Hi Hassan,

thanks for your work.

Just Curious to know, Is anywhere this app hosted for a demo, or its just API alone?

thank you

[2021-06-08 13:07] hassanhabib commented on #397
This is just the API alone - there's a PORTAL side of it that is still in progress. You can always run the app locally.

[2021-06-08 13:07] #397 closed

[2021-06-09 01:10] jayendusharma opened #414 "Service Methods RetrievexxxByIdAsync(Guid id) should test for retrieved id to be same as parameter id"
Should there be a unit test to ensure that within service methods which retrieve from Db via a Guid Id, the retrieved object's id and passed parameter id should be same?

E.g.  One can modify this code

[code]

To

[code]
And all Unit tests will still pass

[2021-06-10 00:18] hassanhabib commented on #414
There should be. but that's part of a new pattern I'm still working on that I call DuplexValidations which means everything coming from storage has to also be valid.
For instance, if we are pulling a Student from storage with an `UpdatedDate` that is less than `CreatedDate` then we should throw a `CorruptStudentDataException` - same thing in your case here - 100%.
Might roll out that change soon -

[2021-06-10 00:18] #414 closed

[2021-06-14 11:46] hassanhabib opened #430 "Student Registration Flow"
Hi Everyone,
Now that we have completed nearly all the foundation entities and their related CRUD operations - let's take this project to the new level with PROCESSING and ORCHESTRATION services that handle complex and multi-entity operations.
We need to start this from the beginning so we are at a good state from a scenario standpoint - here's my thoughts:
1. Student Registration Form Submitted (

[2021-06-14 13:56] bilalmehrban commented on #430
Sounds great , 👍 How about a video on this? and who will approve the registration of the student? What if student have code that is shared by there teacher to access a course if so they do not need to wait for the registration approval.

[2021-06-21 11:57] hassanhabib commented on #430
I will be following up with an implementation this week - no assignments this week for everyone else other than code rubs if you choose to.

[2021-08-02 23:52] viralpandya commented on #430
@hassanhabib should post assignments by this week.

[2021-08-11 06:20] devmanzur commented on #430
Hello everyone, I am available from this week for assignments

[2021-09-12 03:22] hassanhabib opened #437 "Upgrading OtripleS to the new Standard"
Hi everyone,
Sorry for the long delay.
I have been taking the time to fundamentally change the way we do our validations in our Foundation services. And now after I have tested and devised a new Standard for doing validations I need volunteers to help me upgrade ALL our foundation services in OtripleS with the new Standard.
Please hit the like button on this message so I know you are interested.

[2021-09-12 03:24] hassanhabib commented on #430
Putting this on hold in favor of #437

[2021-09-12 03:27] viralpandya commented on #437
Please let me know when can I work on it

[2021-09-12 04:28] eriadhami commented on #437
Same for me.

[2021-09-12 05:20] hassanhabib commented on #437
@viralpandya && @eriadhami I will publish assignments tomorrow night just to make sure I get everyone's vote. Thank you for your contributions.

[2021-09-13 04:43] hassanhabib commented on #437
Okay friends, here's our assignments for this week - Let's take it from the top. And do it in order of CRUD operations.
For this week:
@viralpandya  you will take on updating validations and controllers to the new Standard for `AssignmentAttachment` model.
@eriadhami  you will take on the next model, which is the `Assignment` model.

You can use the Student service for `Register` validations as a

[2021-09-14 19:04] stasnowak commented on #437
@hassanhabib Sorry for being late to the party, i did not check after the great video in github itself. Let me know if i can join on a model and try to implement it based on new standard.

greetings

[2021-09-15 14:31] hassanhabib commented on #437
@stasnowak take on `CalendarEnties` service upgrade

[2021-09-26 23:38] hassanhabib commented on #437
@eriadhami && @stasnowak  are you guys ready for another round this week?

[2021-09-27 00:21] eriadhami commented on #437
@hassanhabib yes, i will be happy

[2021-09-27 00:37] hassanhabib commented on #437
@eriadhami  okay you take `Calendars`
I will take `Classrooms`

Thank you.

[2021-09-27 06:15] stasnowak commented on #437
I'm ready as well ;)

[2021-09-27 06:17] hassanhabib commented on #437
@stasnowak Awesome - take the `Contacts`

[2021-09-27 11:47] bilalmehrban commented on #437
@hassanhabib which one I should go for?

[2021-09-28 01:00] hassanhabib commented on #437
@bilalmehrban you will take `Courses` and I will take `CoursesAttachment`

[2021-09-28 01:33] hassanhabib commented on #437
@bilalmehrban , @stasnowak and @eriadhami  please reference this issue number in our PRs when you create one.

[2021-09-29 20:11] mtoncic commented on #437
Hi there, I would also like to contribute.
I guess ExamAttachment would be next.

[2021-09-29 22:58] hassanhabib commented on #437
@mtoncic awesome - if you fork `OtripleS` and open up a PR against this repo you wouldn't need to worry about the permissions.

[2021-10-03 13:34] mtoncic commented on #437
I guess next one available would be ExamFees, so If nobody has something against I would pick that one.

[2021-10-04 14:53] hassanhabib commented on #437
@stasnowak @eriadhami @bilalmehrban you guys ready for another round?

[2021-10-05 05:16] bilalmehrban commented on #437
@hassanhabib please check MS teams, I have sent you a message.

[2021-10-05 05:31] ShriHumrudha commented on #437
@hassanhabib I see Attachments, Attendances, CalendarEntryAttachments are not taken in the order of the models. Please count me in and let me know my assignment.

[2021-10-05 05:40] eriadhami commented on #437
@hassanhabib I am sorry bro but I have been busy all week so I could not complete my last task. I will try to catch up at the end of the week.

[2021-10-05 18:11] hassanhabib commented on #437
Okay guys. here's our assignments:
I will take `CalendarEntryAttachment`
@bilalmehrban take the `Calendar`
@stasnowak  take the `Classroom`
@mtoncic  you are taking `ExamFee`
@ShriHumrudha take `Course`

I will check with you at the end of the week. thank you all.

[2021-10-06 21:56] mtoncic commented on #437
Hi Hassan,

I see on some places other CRUD operations then Create were not considered. Also in your Students example. That might confuse people if they take it as a reference. Just for clarification - All CRUD operations should be tackled in the PR for the taken model?

[2021-10-09 05:47] hassanhabib commented on #437
@mtoncic yes. We should apply the new validation Standard to all CRUD operations. Even if it was only for one attribute like a `studentId`. Thanks for asking.

[2021-10-13 07:26] hassanhabib commented on #437
@eriadhami take the `Teachers` service
@mtoncic  take the `UserContact` service.

[2021-10-16 04:33] emmicourt commented on #437
@hassanhabib  - Can I jump in and help with the next open model? I see `Exam` has not been updated yet.

[2021-10-16 05:23] hassanhabib commented on #437
@emmicourt go for it :)
welcome aboard friend :)

[2021-10-16 14:53] hassanhabib commented on #437
@devmanzur sure thing. welcome back! :)
Please make sure all validations on the `StudentService` are following the new validation Standard.

[2021-10-16 15:18] ShriHumrudha opened #498 "CODE RUB: AssignmentStatus Validation"
Closes #499

[2021-10-16 16:59] ShriHumrudha opened #501 "CODE RUB: Attendance Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:02] ShriHumrudha opened #502 "CODE RUB: Classroom Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:03] ShriHumrudha opened #503 "CODE RUB: Course Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:04] ShriHumrudha opened #504 "CODE RUB: Exam Fee Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:05] ShriHumrudha opened #505 "CODE RUB: Registration Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:05] ShriHumrudha opened #506 "CODE RUB: Semester Course Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:07] ShriHumrudha opened #508 "CODE RUB: Student Semester Course Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-16 17:08] ShriHumrudha opened #509 "CODE RUB: Teacher Status Enum Validation"
Reference: https://github.com/hassanhabib/OtripleS/pull/499

[2021-10-17 02:36] ShriHumrudha opened #512 "CODE RUB: Refactor the code to be simple"
In line 22,
**UserContact randomUserContact = default;**
can we be more explicit in the storytelling?
**UserContact randomUserContact = null;**

_Originally posted by @ShriHumrudha in https://github.com/hassanhabib/OtripleS/pull/511#r730339027_

[2021-10-17 02:37] ShriHumrudha opened #513 "CODE RUB: Update Model Name from InvalidUserContactInputException to InvalidUserContactException"
The exception entity name should just be 'InvalidUserContactException'

_Originally posted by @ShriHumrudha in https://github.com/hassanhabib/OtripleS/pull/511#r730339205_

[2021-10-17 02:40] ShriHumrudha opened #514 "CODE RUB: Code Cleanup"
A new line is required between 138 and 139.

_Originally posted by @ShriHumrudha in https://github.com/hassanhabib/OtripleS/pull/511#r730339375_

[2021-10-17 02:41] ShriHumrudha opened #515 "CODE RUB: Simplify Code"
Test Name: ShouldThrowValidationExceptionOnRemoveWhenStorageUserContactIsInvalidAndLogItAsync

Comment: Can we just generate a randomGuid, why do we need two hops here.

[code]

[2021-10-17 02:41] ShriHumrudha opened #516 "CODE RUB: Verify the core scope of the broker"
Do we need to verify the insert call? I think in the interest of this testing scope we can check only the remove call.

_Originally posted by @ShriHumrudha in https://github.com/hassanhabib/OtripleS/pull/511#r730339507_

[2021-10-17 18:54] devmanzur commented on #437
I'm facing an issue with tests, it could be just my computer, I don't know. dateTimeBroker.GetCurrentDateTime() is returning my local time (GMT +6) instead of UTC time. while DateTimeOffset.UtcNow returns the actual UTC time. so I'm getting an extra exception that should not be happening at all.

[2021-10-18 22:52] ShriHumrudha opened #521 "CODE RUB: Update file name AssignmentAttachmentServiceTests.Exception.**Remove**.cs"

[2021-10-18 23:15] ShriHumrudha opened #529 "CODE RUB: Localize Dependency Exceptions - Classrooms"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:16] ShriHumrudha opened #530 "CODE RUB: Localize Dependency Exceptions - Contacts"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:19] ShriHumrudha opened #534 "CODE RUB: Localize Dependency Exceptions - Exam Fees Exception"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:19] ShriHumrudha opened #535 "CODE RUB: Localize Dependency Exceptions - Exams"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:20] ShriHumrudha opened #537 "CODE RUB: Localize Dependency Exceptions - Guardian Attachments Exception"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:20] ShriHumrudha opened #538 "CODE RUB: Localize Dependency Exceptions - Guardian Contacts Exception"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:23] ShriHumrudha opened #544 "CODE RUB: Localize Dependency Exceptions - Student Exam Fees Exception"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:24] ShriHumrudha opened #545 "CODE RUB: Localize Dependency Exceptions - Student Exams Exception"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:32] ShriHumrudha opened #548 "CODE RUB: Localize Dependency Exceptions - Student Semester Courses"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:34] ShriHumrudha opened #550 "CODE RUB: Localize Dependency Exceptions - Teacher Contacts"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:34] ShriHumrudha opened #551 "CODE RUB: Localize Dependency Exceptions - Teachers"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:35] ShriHumrudha opened #552 "CODE RUB: Localize Dependency Exceptions - - User Contacts"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-18 23:35] ShriHumrudha opened #553 "CODE RUB: Localize Dependency Exceptions - Users"
Reference: https://github.com/hassanhabib/OtripleS/pull/519

[2021-10-19 05:16] ShriHumrudha opened #555 "CODE RUB: Change Model Name from InvalidClassroomInputException to InvalidClassroomException"

[2021-10-19 05:16] ShriHumrudha opened #556 "CODE RUB: Change Model Name from InvalidExamInputException to InvalidExamException"

[2021-10-19 05:17] ShriHumrudha opened #557 "CODE RUB: Update Model Name from InvalidGuardianContactInputException to InvalidGuardianContactException"

[2021-10-19 05:19] ShriHumrudha opened #560 "CODE RUB: Update model name from InvalidStudentExamInputException to InvalidStudentExamException"

[2021-10-19 05:20] ShriHumrudha opened #562 "CODE RUB: Update model name from InvalidStudentInputException to InvalidStudentException"

[2021-10-20 05:59] mtoncic opened #567 "CODE RUB: Fix the indentation in multiparameter methods in ExamService.Validations"
According to the C# codding standard, when method has multiple parameters. This is for passing but I guess indentation should also exist in this case:
https://github.com/hassanhabib/CSharpCodingStandard/blob/master/Methods.md#114-multiple-parameters

[code]

should be

[code]

[2021-10-20 06:06] mtoncic opened #568 "CODE RUB: Remove empty lines from StudentServiceTests.Validations.Modify.cs"
Lines 135, 276

Check if other not needed empty lines exist in this file and clean them up.

[2021-10-21 06:58] ShriHumrudha opened #573 "CODE RUB: Assignment SameExceptionAs correction"

[2021-10-21 06:58] ShriHumrudha opened #574 "CODE RUB: Attachment SameExceptionAs correction"

[2021-10-21 06:58] ShriHumrudha opened #575 "CODE RUB: Attendance SameExceptionAs correction"
Assigning it to @Noahmahi2019

The right way is:

[code]

[2021-10-21 06:58] ShriHumrudha opened #576 "CODE RUB: Calendar Entity SameExceptionAs correction"

[2021-10-21 06:59] ShriHumrudha opened #577 "CODE RUB: Calendar SameExceptionAs correction"

[2021-10-21 06:59] ShriHumrudha opened #578 "CODE RUB: Classroom SameExceptionAs correction"

[2021-10-21 06:59] ShriHumrudha opened #579 "CODE RUB: Contact SameExceptionAs correction"

[2021-10-21 07:00] ShriHumrudha opened #580 "CODE RUB: Course Attachment SameExceptionAs correction"

[2021-10-21 07:00] ShriHumrudha opened #581 "CODE RUB: Course SameExceptionAs correction"

[2021-10-21 07:00] ShriHumrudha opened #582 "CODE RUB: Exam Attachment SameExceptionAs correction"

[2021-10-21 07:01] ShriHumrudha opened #583 "CODE RUB: Exam Fee SameExceptionAs correction"

[2021-10-21 07:01] ShriHumrudha opened #584 "CODE RUB: Exam SameExceptionAs correction"

[2021-10-21 07:01] ShriHumrudha opened #585 "CODE RUB: Fee SameExceptionAs correction"

[2021-10-21 07:01] ShriHumrudha opened #586 "CODE RUB: Guardian Attachment SameExceptionAs correction"

[2021-10-21 07:02] ShriHumrudha opened #587 "CODE RUB: Guardian Contact SameExceptionAs correction"

[2021-10-21 07:02] ShriHumrudha opened #588 "CODE RUB: Guardian SameExceptionAs correction"

[2021-10-21 07:02] ShriHumrudha opened #589 "CODE RUB: Registration SameExceptionAs correction"

[2021-10-21 07:03] ShriHumrudha opened #590 "CODE RUB: Semester Course SameExceptionAs correction"

[2021-10-21 07:03] ShriHumrudha opened #591 "CODE RUB: Student Attachment SameExceptionAs correction"

[2021-10-21 07:03] ShriHumrudha opened #592 "CODE RUB: Student Contact SameExceptionAs correction"

[2021-10-21 07:04] ShriHumrudha opened #593 "CODE RUB: Student Exam Fee SameExceptionAs correction"

[2021-10-21 07:04] ShriHumrudha opened #594 "CODE RUB: Student Exam SameExceptionAs correction"

[2021-10-21 07:04] ShriHumrudha opened #595 "CODE RUB: Student Guardian SameExceptionAs correction"

[2021-10-21 07:05] ShriHumrudha opened #596 "CODE RUB: Student Registration SameExceptionAs correction"

[2021-10-21 07:05] ShriHumrudha opened #597 "CODE RUB: Student SameExceptionAs correction"
Assigning it to @Noahmahi2019

The right way:

[code]

[2021-10-21 07:05] ShriHumrudha opened #598 "CODE RUB: Student Semester Course SameExceptionAs correction"

[2021-10-21 07:05] ShriHumrudha opened #599 "CODE RUB: Teacher Attachment SameExceptionAs correction"

[2021-10-21 07:06] ShriHumrudha opened #600 "CODE RUB: Teacher Contact SameExceptionAs correction"

[2021-10-21 07:06] ShriHumrudha opened #601 "CODE RUB: Teacher SameExceptionAs correction"

[2021-10-21 07:07] ShriHumrudha opened #603 "CODE RUB: User SameExceptionAs correction"

[2021-10-21 07:09] ShriHumrudha opened #604 "CODE RUB: Assignment Attachment Filler method order"

[2021-10-21 07:09] ShriHumrudha opened #605 "CODE RUB: Calendar Entry Attachment Filler method order"

[2021-10-21 07:10] ShriHumrudha opened #606 "CODE RUB: Calendar Filler method order"

[2021-10-21 07:10] ShriHumrudha opened #607 "CODE RUB: Exam Fees Filler method order"

[2021-10-21 07:11] ShriHumrudha opened #608 "CODE RUB: Exam Attachment Filler method order"

[2021-10-21 07:11] ShriHumrudha opened #609 "CODE RUB: Student Contact Filler method order"

[2021-10-21 07:11] ShriHumrudha opened #610 "CODE RUB: Student Exam Filler method order"

[2021-10-21 07:12] ShriHumrudha opened #612 "CODE RUB: Student Filler method order"

[2021-10-21 07:13] ShriHumrudha opened #613 "CODE RUB: Teacher Contact Filler method order"

[2021-10-21 07:15] ShriHumrudha opened #614 "CODE RUB: Calendar Entry Filler method order"

[2021-10-21 07:16] ShriHumrudha opened #615 "CODE RUB: Classroom Filler method order"

[2021-10-21 07:16] ShriHumrudha opened #616 "CODE RUB: Course Attachment Filler method order"

[2021-10-21 07:17] ShriHumrudha opened #617 "CODE RUB: Course Filler method order"

[2021-10-21 07:17] ShriHumrudha opened #618 "CODE RUB: Fee Filler method order"

[2021-10-21 07:18] ShriHumrudha opened #619 "CODE RUB: Guardian Attachment Filler method order"

[2021-10-21 07:19] ShriHumrudha opened #620 "CODE RUB: Guardian Contact Filler method order"

[2021-10-21 07:19] ShriHumrudha opened #621 "CODE RUB: Guardian Filler method order"

[2021-10-21 07:20] ShriHumrudha opened #623 "CODE RUB: Student Attachment Filler method order"

[2021-10-21 07:20] ShriHumrudha opened #624 "CODE RUB: Student Contact Filler method order"

[2021-10-21 07:21] ShriHumrudha opened #625 "CODE RUB: Student Exam Fee Filler method order"

[2021-10-21 07:21] ShriHumrudha opened #626 "CODE RUB: Student Guardian Filler method order"

[2021-10-21 07:22] ShriHumrudha opened #627 "CODE RUB: Student Semester Course Filler method order"

[2021-10-21 07:22] ShriHumrudha opened #628 "CODE RUB: Teacher Attachment Filler method order"

[2021-10-22 01:27] kaurnitu commented on #560
assign it to me

[2021-10-22 03:40] #515 closed

[2021-10-25 06:20] hassanhabib opened #639 "CODE RUB: Remove Storage Validations from Attachments Retrieve All"

[2021-10-25 06:20] hassanhabib opened #640 "CODE RUB: Remove Storage Validations from Attendance Retrieve All"

[2021-10-25 06:20] hassanhabib opened #641 "CODE RUB: Remove Storage Validations from Calendar Entries Retrieve All"

[2021-10-25 06:21] hassanhabib opened #642 "CODE RUB: Remove Storage Validations from Calendar Entry Attachments Retrieve All"

[2021-10-25 06:21] hassanhabib opened #643 "CODE RUB: Remove Storage Validations from Calendars Retrieve All"

[2021-10-25 06:22] hassanhabib opened #644 "CODE RUB: Remove Storage Validations from Classrooms Retrieve All"

[2021-10-25 06:22] hassanhabib opened #645 "CODE RUB: Remove Storage Validations from Contacts Retrieve All"

[2021-10-25 06:22] hassanhabib opened #646 "CODE RUB: Remove Storage Validations from Course Attachments Retrieve All"

[2021-10-25 06:22] hassanhabib opened #647 "CODE RUB: Remove Storage Validations from Courses Retrieve All"

[2021-10-25 06:22] hassanhabib opened #648 "CODE RUB: Remove Storage Validations from Courses Retrieve All"

[2021-10-25 06:23] hassanhabib opened #649 "CODE RUB: Remove Storage Validations from Exam Attachments Retrieve All"

[2021-10-25 06:23] hassanhabib opened #650 "CODE RUB: Remove Storage Validations from Exam Fees Retrieve All"

[2021-10-25 06:23] hassanhabib opened #651 "CODE RUB: Remove Storage Validations from Exams Retrieve All"

[2021-10-25 06:23] hassanhabib opened #652 "CODE RUB: Remove Storage Validations from Fees Retrieve All"

[2021-10-25 06:23] hassanhabib opened #653 "CODE RUB: Remove Storage Validations from Guardian Attachments Retrieve All"

[2021-10-25 06:23] hassanhabib opened #654 "CODE RUB: Remove Storage Validations from Guardian Contacts Retrieve All"

[2021-10-25 06:24] hassanhabib opened #655 "CODE RUB: Remove Storage Validations from Guardians Retrieve All"

[2021-10-25 06:24] hassanhabib opened #656 "CODE RUB: Remove Storage Validations from Registrations Retrieve All"

[2021-10-25 06:24] hassanhabib opened #657 "CODE RUB: Remove Storage Validations from Semester Courses Retrieve All"

[2021-10-25 06:24] hassanhabib opened #658 "CODE RUB: Remove Storage Validations from Student Attachments Retrieve All"

[2021-10-25 06:24] hassanhabib opened #659 "CODE RUB: Remove Storage Validations from Student Contacts Retrieve All"

[2021-10-25 06:24] hassanhabib opened #660 "CODE RUB: Remove Storage Validations from Student Exam Fees Retrieve All"

[2021-10-25 06:25] hassanhabib opened #661 "CODE RUB: Remove Storage Validations from Student Exams Retrieve All"

[2021-10-25 06:25] hassanhabib opened #662 "CODE RUB: Remove Storage Validations from Student Guardians Retrieve All"

[2021-10-25 06:25] hassanhabib opened #663 "CODE RUB: Remove Storage Validations from Student Registrations Retrieve All"

[2021-10-25 06:25] hassanhabib opened #664 "CODE RUB: Remove Storage Validations from Student Semester Courses Retrieve All"

[2021-10-25 06:26] hassanhabib opened #665 "CODE RUB: Remove Storage Validations from Students Retrieve All"

[2021-10-25 06:26] hassanhabib opened #666 "CODE RUB: Remove Storage Validations from Teacher Attachments Retrieve All"

[2021-10-25 06:26] hassanhabib opened #667 "CODE RUB: Remove Storage Validations from Teacher Contacts Retrieve All"

[2021-10-25 06:26] hassanhabib opened #668 "CODE RUB: Remove Storage Validations from Teachers Retrieve All"

[2021-10-25 06:26] hassanhabib opened #669 "CODE RUB: Remove Storage Validations from User Contacts Retrieve All"

[2021-10-25 06:26] hassanhabib opened #670 "CODE RUB: Remove Storage Validations from Users Retrieve All"

[2021-10-29 19:19] mtoncic commented on #670
This one should be closed (https://github.com/hassanhabib/OtripleS/pull/680)

[2021-10-29 19:20] mtoncic commented on #649
This one should be closed https://github.com/hassanhabib/OtripleS/pull/681

[2021-10-30 07:20] #669 closed

[2021-10-30 07:25] #668 closed

[2021-10-30 07:27] #667 closed

[2021-10-30 07:27] #666 closed

[2021-10-30 07:28] #658 closed

[2021-10-30 07:28] #659 closed

[2021-10-30 07:28] #660 closed

[2021-10-30 07:29] #661 closed

[2021-10-30 07:29] #662 closed

[2021-10-30 07:29] #663 closed

[2021-10-30 07:29] #664 closed

[2021-10-30 07:29] #665 closed

[2021-10-30 07:31] #670 closed

[2021-10-30 07:33] #657 closed

[2021-10-30 07:36] #656 closed

[2021-10-30 20:55] arafat-pro commented on #514
Hello @ShriHumrudha can you please tell me what does it mean by "Code Rub" here?

[2021-10-31 00:00] hassanhabib commented on #655
Implementation should be very similar to this:
https://github.com/hassanhabib/OtripleS/pull/715

[2021-10-31 00:33] gitfyle commented on #639
@hassanhabib how do I solve this problem? I need more details.

[2021-10-31 06:12] #654 closed

[2021-10-31 11:46] arafat-pro commented on #498
Hi, @hassanhabib has it been done already?
If not how do I do this?

[2021-10-31 17:01] mtoncic commented on #655
Should be closed with #719

[2021-10-31 17:04] mtoncic commented on #653
Should be closed with #655 CODE RUB: Remove Storage Validations from Guardian Attachments Retrieve All

[2021-10-31 17:26] mtoncic commented on #648
Duplicate of #647

[2021-10-31 17:28] arafat-pro commented on #641
Is there any way to know if someone is already working with this issue or any such open issues?
Is there any way if I can self-assign an issue to show others that I am currently working on this issue?

[2021-10-31 19:15] arafat-pro commented on #628
@hassanhabib
how to deal with this issue and others alike?

[2021-10-31 19:58] arafat-pro commented on #568
I have given a try to this issue. ref P/R is #734

[2021-10-31 20:22] arafat-pro commented on #514
I've found my answer here: [https://www.linkedin.com/pulse/code-rub-hassan-rezk-habib/](url)

[2021-11-01 08:14] hassanhabib commented on #628
![image](https://user-images.githubusercontent.com/1453985/139641717-94b17009-d462-4386-a852-a736d99a700a.png)

@arafat-pro all you gotta do is move the Filler method in any root test file to the very bottom of the list. just like the example in the image above.

[2021-11-01 08:22] #650 closed

[2021-11-01 08:22] #651 closed

[2021-11-01 08:23] #652 closed

[2021-11-01 08:23] #653 closed

[2021-11-01 13:06] arafat-pro commented on #609
@ShriHumrudha I've requested a PR in ref to this issue as #735

[2021-11-01 13:42] arafat-pro commented on #628
I've given it a try following the above guidance and created a PR as #736

[2021-11-01 18:30] #641 closed

[2021-11-03 03:22] #655 closed

[2021-11-03 07:30] #604 closed

[2021-11-04 12:35] rcruzfreelance commented on #624
I see that the Filler method is already at the bottom for this

[2021-11-05 03:09] #607 closed

[2021-11-06 03:09] #608 closed

[2021-11-07 15:44] #618 closed

[2021-11-08 07:06] muhammadmnorouzi commented on #647
Hello
May I do this?

[2021-11-08 18:14] muhammadmnorouzi commented on #647
This is closed now.

[2021-11-09 04:09] #649 closed

[2021-11-09 04:09] #648 closed

[2021-11-09 04:09] #647 closed

[2021-11-09 04:11] hassanhabib commented on #646
Assigning to @SallyDeveloper

[2021-11-09 04:11] #646 closed

[2021-11-09 04:11] hassanhabib commented on #645
Assigning this to @SallyDeveloper

[2021-11-09 04:12] hassanhabib commented on #645
@SallyDeveloper  here's a good example of this effort:
https://github.com/hassanhabib/OtripleS/pull/737

[2021-11-09 16:07] muhammadmnorouzi commented on #642
This one is closed.

[2021-11-10 07:51] #503 closed

[2021-11-10 07:54] #502 closed

[2021-11-10 07:54] #615 closed

[2021-11-11 03:43] rcruzfreelance commented on #601
Does this by any chance need the logic to compare the inner exception data?

[2021-11-11 03:49] #567 closed

[2021-11-11 03:51] rcruzfreelance commented on #556
this seems to have already been done

![image](https://user-images.githubusercontent.com/53588704/141233946-0141bdb3-1cfa-4e1e-a6d5-fa5b930b58f7.png)

[2021-11-11 03:51] #513 closed

[2021-11-11 04:07] rcruzfreelance commented on #553
Can I be assgined for this one?

[2021-11-11 16:39] arafat-pro commented on #504
@hassanhabib & @ShriHumrudha
How do I work with this issue and similar issues #505  #506 #507 #508 & #510?
Looking for your advice!

[2021-11-11 20:25] ShriHumrudha commented on #628
Closed via #736

[2021-11-11 20:25] #628 closed

[2021-11-11 20:29] ShriHumrudha commented on #514
@arafat-pro Unable to find the code for cleanup. So I will close this PR.

In general, CODE RUB means to make our code better in various terms - Running Code Cleanup, Upgrading Packages, Meeting the standard.

[2021-11-11 20:29] #514 closed

[2021-11-11 20:30] ShriHumrudha commented on #601
Yes, we should. If the new validation standard is not implemented across all the operations, then we need to wait to modify it.

[2021-11-11 20:30] ShriHumrudha commented on #553
Go for it.

[2021-11-11 20:30] ShriHumrudha commented on #642
Closed via #721

[2021-11-11 20:30] #642 closed

[2021-11-11 20:32] ShriHumrudha commented on #498
This is already closed by #499

[2021-11-11 20:32] #498 closed

[2021-11-11 20:32] ShriHumrudha commented on #562
Closed via #683

[2021-11-11 20:32] #562 closed

[2021-11-11 20:33] ShriHumrudha commented on #609
Closed via #735

[2021-11-11 20:33] #609 closed

[2021-11-11 20:34] ShriHumrudha commented on #504
The reference is mentioned in the first comment - #499

[2021-11-11 20:59] arafat-pro commented on #504
May I request a little guidance for any one from these above referenced specific issues. They are different in implementation, which I am still working on to understand.

[2021-11-12 02:06] ShriHumrudha commented on #627
Closed via #741

[2021-11-12 02:06] #627 closed

[2021-11-12 02:07] ShriHumrudha commented on #626
Closed via #742

[2021-11-12 02:07] #626 closed

[2021-11-12 02:07] ShriHumrudha commented on #625
Closes #745

[2021-11-12 02:07] #625 closed

[2021-11-12 02:09] ShriHumrudha commented on #624
Resolving as the issue is addressed

[2021-11-12 02:09] #624 closed

[2021-11-12 02:09] ShriHumrudha commented on #623
Closed via #746

[2021-11-12 02:09] #623 closed

[2021-11-12 02:11] ShriHumrudha commented on #620
Closes via #771

[2021-11-12 02:11] #620 closed

[2021-11-12 02:11] ShriHumrudha commented on #619
Closes via #773

[2021-11-12 02:11] #619 closed

[2021-11-12 02:12] ShriHumrudha commented on #616
Resolving as the issue is already addressed

[2021-11-12 02:12] #616 closed

[2021-11-12 02:17] imjane5 commented on #613
Please assign this to me

[2021-11-12 02:18] NaynaMallick commented on #614
assign it to me

[2021-11-12 02:21] juturul commented on #612
assign it to me.

[2021-11-12 02:36] imjane5 commented on #613
Closes #613

[2021-11-12 02:42] Shrabanac opened #786 "CODE RUB: Attendances Filler method order"

[2021-11-12 02:54] juturul commented on #573
assign it to me.

[2021-11-12 02:55] #573 closed

[2021-11-12 02:56] ShriHumrudha commented on #606
Closed via #774

[2021-11-12 02:56] #606 closed

[2021-11-12 03:08] NaynaMallick commented on #605
assign it to me

[2021-11-12 03:29] #598 closed

[2021-11-12 03:35] #599 closed

[2021-11-12 03:37] #577 closed

[2021-11-12 03:39] #509 closed

[2021-11-12 03:39] #579 closed

[2021-11-12 03:40] #576 closed

[2021-11-12 03:43] NaynaMallick commented on #598
assign it to me

[2021-11-12 19:50] muhammadmnorouzi opened #800 "CODE RUB: Remove All AsQueryable from SelectAll-Model Name- in BrokerStorage"

[2021-11-14 03:47] #584 closed

[2021-11-14 03:49] #800 closed

[2021-11-14 03:50] #578 closed

[2021-11-14 05:08] arafat-pro commented on #504
@hassanhabib I am looking for some suggestions!

[2021-11-14 07:09] hassanhabib commented on #504
@arafat-pro so the validations of enums is a new Standard that was introduced a little over a year ago. Some of our codebase in OtripleS didn't catch up to that yet, hence we have all these issues to address them.

The above mentioned issues all have the same solution, so is the new standard for validations. But these are two different issues.
Don't include enum validation as part of the basic str

[2021-11-14 20:11] ShriHumrudha commented on #553
Closed via #797

[2021-11-14 20:11] #553 closed

[2021-11-14 20:13] ShriHumrudha commented on #556
Closing the issue as it is resolved in another thread.

[2021-11-14 20:13] #556 closed

[2021-11-14 20:13] ShriHumrudha commented on #639
Closed via #717

[2021-11-14 20:13] #639 closed

[2021-11-14 20:15] ShriHumrudha commented on #568
Closed via #734

[2021-11-14 20:15] #568 closed

[2021-11-15 23:33] rcruzfreelance commented on #600
I'm noticing that this also needs to localize dependency exceptions as well in order for the test to pass. Can I be assigned for this?

[2021-11-16 00:36] rcruzfreelance commented on #600
also needs to localize service exception as well

[2021-11-16 03:00] rcruzfreelance commented on #601
I realized that this is already in the correct standard

![image](https://user-images.githubusercontent.com/53588704/141887932-296b497f-5e47-4afd-ab7e-aa4262402da3.png)

[2021-11-17 00:05] ShriHumrudha commented on #601
Resolving the issue as it is taken care.

[2021-11-17 00:05] #601 closed

[2021-11-17 00:06] ShriHumrudha commented on #613
It is resolved.

[2021-11-17 00:06] #613 closed

[2021-11-17 00:07] ShriHumrudha commented on #600
Address one change in one PR. Feel free to pick localization even though there is no task listed.

[2021-11-18 01:34] rcruzfreelance commented on #596
this has the expected logic

![image](https://user-images.githubusercontent.com/53588704/142335058-8ab78718-c122-45fd-8976-ff320e60aef3.png)

[2021-11-18 15:47] #585 closed

[2021-11-19 01:42] ShriHumrudha commented on #614
Issue is resolved.

[2021-11-19 01:42] #614 closed

[2021-11-19 01:42] ShriHumrudha commented on #612
Issue is resolved.

[2021-11-19 01:42] #612 closed

[2021-11-19 01:43] ShriHumrudha commented on #610
Issue is resolved.

[2021-11-19 01:43] #610 closed

[2021-11-19 01:44] ShriHumrudha commented on #605
Issue is resolved.

[2021-11-19 01:44] #605 closed

[2021-11-21 16:32] #530 closed

[2021-11-21 22:23] rcruzfreelance commented on #552
Can I be assigned for this?

[2021-11-25 23:46] hassanhabib opened #854 "PROVISION: Initialize Provisioning for ASP.NET Core API"
Here's some videos to help you understand the task:

https://www.youtube.com/watch?v=ht0xhQyF1x4

https://www.youtube.com/watch?v=E67QyXV_-v8&list=PLan3SCnsISTQ63o4HFkIw0YcEcOlwqt53&index=6
https://www.youtube.com/watch?v=96tl4f1gfa4&list=PLan3SCnsISTQ63o4HFkIw0YcEcOlwqt53&index=7
https://www.youtube.com/watch?v=sOje4-6psEY&list=PLan3SCnsISTQ63o4HFkIw0YcEcOlwqt53&index=8
https://www.youtube.com/wa

[2021-11-29 21:09] SallyDeveloper commented on #645
This issue is already done!

[2021-11-29 23:26] SallyDeveloper commented on #645
This issue is already addressed.

[2021-11-29 23:28] SallyDeveloper commented on #643
This issue is already addressed!

[2021-11-30 04:28] #644 closed

[2021-12-06 05:04] #529 closed

[2021-12-09 16:00] loicandurand opened #862 "DISCUSSION: storage brokers factorization"
Hello everyone,

I'm new to the project but I was wondering if there is a specific reason why the CRUD code is repeated accross all the storage brokers classes?

Wouldn't it be easier to just declare generic methods? Is this a violation of some principles of the project's standards?

Maybe something like that in the StorageBroker class (generic constraints might need to be more precise):
[code]

[2021-12-14 15:11] hassanhabib commented on #862
@loicandurand declaring generic methods for all CRUD operations does two things here:
1. It couples the code for all entities - any minor changes causes everything to fail.
2. Offers capabilities that might not be needed for particular entities
3. Sometimes we need to pull a certain entity with related attached entities. We would need to create extra files to retrieve that.

There's also a team as

[2021-12-18 22:50] #854 closed

[2022-01-07 04:46] #645 closed

[2022-01-17 16:24] hassanhabib opened #872 "CODE RUB: Separate multi-liners with a new empty line from one-liners"
https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api/Services/Foundations/Classrooms/ClassroomService.Validations.cs#L48

[2022-01-17 16:24] hassanhabib commented on #872
Assigning this to @devanteconnor

[2022-01-17 17:47] #872 closed

[2022-01-17 17:49] hassanhabib opened #874 "CODE RUB: Use Is Not Null"
https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api/Services/Foundations/Fees/FeeService.Validations.cs#L91

this is assigned to @devanteconnor

[2022-01-17 19:30] #874 closed

[2022-01-25 01:37] hassanhabib opened #941 "CODE RUB: Replace `default` with Guid.Empty"
https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api.Tests.Unit/Services/Foundations/GuardianContacts/GuardianContactServiceTests.Validations.Remove.cs#L22

https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api.Tests.Unit/Services/Foundations/GuardianContacts/GuardianContactServiceTests.Validations.Remove.cs#L60

https://github.com/hassanhabib/OtripleS/blob/master/Ot

[2022-01-25 01:38] hassanhabib commented on #941
Assigning to @KFitz114

[2022-01-25 20:04] hassanhabib opened #953 "CODE RUB: Create `Action` variable for Testing Exceptions for Retrieve All"
Here's an example:
https://github.com/hassanhabib/Taarafo.Core/blob/master/Taarafo.Core.Tests.Unit/Services/Foundations/Posts/PostServiceTests.Exceptions.RetrieveAll.cs#L33

Here's a sample issue in our OtripleS Repo:
https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api.Tests.Unit/Services/Foundations/Fees/FeeServiceTests.Exceptions.RetrieveAll.cs#L28

[2022-01-25 20:05] hassanhabib commented on #953
this task an all related PRs are assigned to @deepshri7

[2022-01-25 20:40] hassanhabib opened #954 "CODE RUB: Replace Input variables in Exception Tests with Some Variable"
In any test that is for RetrieveById under the exceptions section -

For example: `CalendarServiceTests.Exceptions.RetrieveById.cs`
You will find code in the tests in that file that looks like this:
[code]

What we need to do is two things:
Replace all `input...` variable names with `some ...` variable names. For instance, in here we have a variable called `inputCalendarId` we need to replace that

[2022-01-26 20:08] hassanhabib opened #1008 "CODE RUB: Switch DateTime Broker order with Logging IF DateTimeBroker is last"
The order of dependencies relies heavily on the priority for business flow. Which means that an entity broker comes before everything else. an entity broker is like `StorageBroker`.
And then comes utility brokers. These brokers some of them are for business flow requirements like `DateTimeBroker` where we ensure that the request datetime stamp is recent.
And the other utility broker is `LoggingBro

[2022-01-26 20:38] hassanhabib commented on #1008
This issue is assigned to @KFitz114

[2022-01-27 00:11] hassanhabib opened #1017 "CODE RUB: Change Null Exception Test Variables from `default` to `null` and Rename"
The idea here is to find code the follows this pattern:

[code]

Change that into:

[code]
branch name convention would be: `users/hassanhabib/coderub-student-replace-default`
PR name convention would be: `CODE RUB: Replace Default Value with Null for Students`

This task is assigned to @Bbereket1

[2022-02-03 00:13] hassanhabib commented on #1017
This issue is fully completed - thank you so much @Bbereket1

[2022-02-03 00:13] #1017 closed

[2022-02-03 00:26] hassanhabib opened #1238 "MINOR FIX: Ensure All Dependencies Are Verified For No Other Calls Across All Tests"
There are two issues in our tests:

Issue # 1:
The dependencies are verified twice like this:

[code]

The solution in this case is the last three lines should be as follows:

[code]

Issue # 2:
The dependencies are not verified at all:
[code]

The solution for this one would be as follows:

[code]
This issue is assigned to @Bbereket1

[2022-02-04 00:39] hassanhabib opened #1293 "CODE RUB: Honor the Call Order for Create & Logging Exceptions"
We have to ensure that methods are implemented in the exact same order they are being called.

for instance, in this file:

[code]

You will notice in the above file, that the `CreateAndLogValidationException` method is called first, but implemented last. That's a problem in our order of implementation, a good approach would be as follows:

[code]

This issue is exclusively assigned to @Rahzae

[2022-02-08 04:30] #643 closed

[2022-02-11 00:42] hassanhabib opened #1601 "CODE RUB: Enforce No Spaces Between One-Liner Code"
The [rule](https://github.com/hassanhabib/CSharpCodingStandard/blob/master/Variables.md#021-multiple-declarations) is that if there's a new line between one-liner code we should erase that empty line.

here's an example from: ``

[code]

Fixing this would be as follows:

[code]
OR
[code]

this task is assigned to @Rahzae

[2022-02-14 22:06] #1008 closed

[2022-02-14 23:58] #621 closed

[2022-02-14 23:58] #617 closed

[2022-02-15 00:00] #596 closed

[2022-02-15 00:00] #595 closed

[2022-02-15 00:01] #594 closed

[2022-02-15 00:01] #592 closed

[2022-02-15 00:02] #591 closed

[2022-02-15 00:02] #590 closed

[2022-02-15 00:03] #589 closed

[2022-02-15 00:03] #588 closed

[2022-02-15 00:07] #587 closed

[2022-02-15 00:08] #586 closed

[2022-02-15 00:08] #583 closed

[2022-02-15 00:08] #582 closed

[2022-02-15 00:09] #581 closed

[2022-02-15 00:09] #580 closed

[2022-02-15 00:10] #560 closed

[2022-02-15 00:11] #555 closed

[2022-02-15 00:12] #521 closed

[2022-02-15 03:16] KFitz114 commented on #1008
I found something similar to this in: OtripleS.Web.Api.Tests.Unit.Services.Foundations.Assignments -> Exceptions.RetrieveAll.cs

 this.storageBrokerMock.Verify(broker =>
                broker.SelectAllAssignments(),
                    Times.Once);

            this.loggingBrokerMock.Verify(broker =>
                broker.LogError(It.Is(SameExceptionAs(
                    expectedAssignmentServ

[2022-02-19 20:17] ShriHumrudha opened #1749 "CONFIG: Update .NET version to 7.0.100-preview.1.22110.4"

[2022-02-20 07:06] imjane5 commented on #1749
Please assign to @imjane5

[2022-02-20 07:30] imjane5 commented on #1749
Closes #1749

[2022-02-20 08:02] cacti79 commented on #551
I will take this issue.

[2022-02-21 12:14] Mehdi-Aghaei opened #1761 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - TEACHERS"

[2022-02-21 12:15] Mehdi-Aghaei opened #1762 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - STUDENTS"

[2022-02-21 12:16] Mehdi-Aghaei opened #1763 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - EXAMS"

[2022-02-21 12:18] Mehdi-Aghaei opened #1764 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - GUARDIANS"

[2022-02-21 12:19] Mehdi-Aghaei opened #1765 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - STUDENTCONTACTS"

[2022-02-21 19:11] #551 closed

[2022-02-25 09:26] Mehdi-Aghaei opened #1814 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - AssignmentAttachments"

[2022-02-25 09:27] Mehdi-Aghaei opened #1815 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Assignments"

[2022-02-25 09:27] Mehdi-Aghaei opened #1816 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Attachments"

[2022-02-25 09:27] Mehdi-Aghaei opened #1817 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Attendances"

[2022-02-25 09:28] Mehdi-Aghaei opened #1818 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - CalandarEntries"

[2022-02-25 09:28] Mehdi-Aghaei opened #1819 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - CalendarEntryAttachments"

[2022-02-25 09:29] Mehdi-Aghaei opened #1820 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Calendars"

[2022-02-25 09:30] Mehdi-Aghaei opened #1821 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Classrooms"

[2022-02-25 09:30] Mehdi-Aghaei opened #1822 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Contacts"

[2022-02-25 09:31] Mehdi-Aghaei opened #1823 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Courses"

[2022-02-25 09:31] Mehdi-Aghaei opened #1824 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - CoursesAttachments"

[2022-02-25 09:32] Mehdi-Aghaei opened #1825 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - ExamFees"

[2022-02-25 09:32] Mehdi-Aghaei opened #1826 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Fees"

[2022-02-25 09:33] Mehdi-Aghaei opened #1827 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - GuardianAttachments"

[2022-02-25 09:33] Mehdi-Aghaei opened #1828 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - GuardianContacts"

[2022-02-25 09:33] Mehdi-Aghaei opened #1829 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Registrations"

[2022-02-25 09:34] Mehdi-Aghaei opened #1830 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - SemesterCourses"

[2022-02-25 09:34] Mehdi-Aghaei opened #1831 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentAttachments"

[2022-02-25 09:35] Mehdi-Aghaei opened #1832 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentExamFees"

[2022-02-25 09:35] Mehdi-Aghaei opened #1833 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentExams"

[2022-02-25 09:36] Mehdi-Aghaei opened #1834 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentGuardians"

[2022-02-25 09:36] Mehdi-Aghaei opened #1835 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentRegistrations"

[2022-02-25 09:37] Mehdi-Aghaei opened #1836 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - StudentSemesterCourses"

[2022-02-25 09:37] Mehdi-Aghaei opened #1837 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - TeacherAttachments"

[2022-02-25 09:37] Mehdi-Aghaei opened #1838 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - TeacherContacts"

[2022-02-25 09:37] Mehdi-Aghaei opened #1839 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - UserContacts"

[2022-02-25 09:38] Mehdi-Aghaei opened #1840 "CODE RUB: SEPRATE LOGIC TESTS FOR EACH OPERATION - Users"

[2022-02-26 00:20] imjane5 commented on #1814
Please assign to @imjane5

[2022-03-01 01:42] hassanhabib commented on #1840
Assigning this task to @deepshri7

[2022-03-01 01:42] hassanhabib commented on #1839
Assigning this task to @deepshri7

[2022-03-01 01:42] hassanhabib commented on #1838
Assigning this task to @deepshri7

[2022-03-01 01:42] hassanhabib commented on #1837
Assigning this task to @deepshri7

[2022-03-01 01:42] hassanhabib commented on #1836
Assigning this task to @deepshri7

[2022-03-01 18:34] Mehdi-Aghaei commented on #535
@ShriHumrudha Please Assign it to me

[2022-03-03 18:28] #535 closed

[2022-03-05 01:04] ShriHumrudha commented on #1814
Closed via #1841

[2022-03-05 01:04] #1814 closed

[2022-03-07 02:57] lohithgn opened #1923 "Resource management using the Azure SDK for .NET"
Hi.

I was going through the provisioning project. Provisioning project is using `Microsoft.Azure.Management.Fluent` - which is in low maintenance mode now.

The future is `Azure SDK for .NET`. Azure SDK for .NET is the library for .NET devs to interact with Azure programmatically. It initially had just the clients but now MS is exposing Management plane related functionalities. More info here: ht

[2022-03-08 22:48] hassanhabib opened #1965 "CODE RUB: Separate Multi-Liner code with a new line"
https://github.com/hassanhabib/OtripleS/blob/c259316151682656a16e657368d83dd3d122ba15/OtripleS.Web.Api/Services/Foundations/Students/StudentService.Validations.cs#L114

[2022-03-08 22:50] hassanhabib opened #1966 "CODE RUB: Separate Multi-Liner Methods wit ha new line"
https://github.com/hassanhabib/OtripleS/blob/c259316151682656a16e657368d83dd3d122ba15/OtripleS.Web.Api/Services/Foundations/Students/StudentService.Validations.cs#L163

Assigned to: @moisesjgomez

[2022-03-08 22:50] hassanhabib opened #1967 "CODE RUB: Separate Multi-Liner Rule Statements with a new Line"
https://github.com/hassanhabib/OtripleS/blob/c259316151682656a16e657368d83dd3d122ba15/OtripleS.Web.Api/Services/Foundations/Students/StudentService.Validations.cs#L29

[2022-03-08 22:51] hassanhabib opened #1968 "CODE RUB: Rule & Parameter Should Be @ The Same Level"
https://github.com/hassanhabib/OtripleS/blob/c259316151682656a16e657368d83dd3d122ba15/OtripleS.Web.Api/Services/Foundations/Students/StudentService.Validations.cs#L33

@moisesjgomez

[2022-03-08 23:01] #1965 closed

[2022-03-09 00:09] hassanhabib opened #1970 "CODE RUB: Use `is null` instead of `== null` Across all"
https://github.com/hassanhabib/OtripleS/blob/1ccf37af07278b4b1f65e6c4dcdb1f9a3c037039/OtripleS.Web.Api/Services/Foundations/StudentExams/StudentExamService.Validations.cs#L26

@Noahmahi2019

[2022-03-09 00:34] hassanhabib opened #1971 "CODE RUB: Add New Line Between Multi-Liners"
https://github.com/hassanhabib/OtripleS/blob/1ccf37af07278b4b1f65e6c4dcdb1f9a3c037039/OtripleS.Web.Api/Services/Foundations/StudentGuardians/StudentGuardianService.Validations.cs#L75

@devanteconnor

[2022-03-09 01:16] hassanhabib opened #1973 "CODE RUB: Replace `== null` with `is null`"
https://github.com/hassanhabib/OtripleS/blob/1ccf37af07278b4b1f65e6c4dcdb1f9a3c037039/OtripleS.Web.Api/Services/Foundations/Registrations/RegistrationService.Validations.cs#L213

Assigned to @hoxhaleo319

[2022-03-09 05:54] #1970 closed

[2022-03-09 06:23] hassanhabib opened #1994 "CODE RUB: Remove Extra Line"
https://github.com/hassanhabib/OtripleS/blob/71326397e4ecd14daee12a658f2ce1a50bcc0895/OtripleS.Web.Api/Services/Foundations/Contacts/ContactService.Validations.cs#L67

@rahzae

[2022-03-09 06:39] hassanhabib opened #1995 "CODE RUB: Reaplce `default` with Guids to `Guid.Empty`"
https://github.com/hassanhabib/OtripleS/blob/71326397e4ecd14daee12a658f2ce1a50bcc0895/OtripleS.Web.Api/Services/Foundations/StudentGuardians/StudentGuardianService.Validations.cs#L70

Assigned to: @nedataghiparast

[2022-03-09 07:03] Rahzae commented on #1994
Completed the task on my branch and created pull request.

[2022-03-10 09:19] nedataghiparast commented on #1995
I completed the task.

[2022-03-11 21:39] imjane5 commented on #1815
Please assign to @imjane5

[2022-03-11 21:39] imjane5 commented on #1816
Please assign to @imjane5.

[2022-03-11 21:39] imjane5 commented on #1817
Please assign to @imjane5.

[2022-03-11 21:40] imjane5 commented on #1818
Please assign to @imjane5.

[2022-03-11 21:40] imjane5 commented on #1819
Please assign to @imjane5.

[2022-03-11 21:40] imjane5 commented on #1820
Please assign to @imjane5.

[2022-03-11 21:40] imjane5 commented on #1821
Please assign to @imjane5.

[2022-03-11 21:41] imjane5 commented on #1822
Please assign to @imjane5.

[2022-03-11 21:41] imjane5 commented on #1823
Please assign to @imjane5.

[2022-03-11 21:41] imjane5 commented on #1824
Please assign to @imjane5.

[2022-03-11 21:42] imjane5 commented on #1825
Please assign to @imjane5.

[2022-03-11 21:42] imjane5 commented on #1826
Please assign to @imjane5.

[2022-03-11 22:40] #1815 closed

[2022-03-11 22:47] #1840 closed

[2022-03-11 22:48] #1839 closed

[2022-03-11 22:49] #1838 closed

[2022-03-11 22:50] #1837 closed

[2022-03-11 22:50] #1836 closed

[2022-03-12 04:20] tharanisantosh commented on #1835
Please Assign this to me.

[2022-03-12 04:20] tharanisantosh commented on #1834
Please Assign this to me.

[2022-03-12 04:20] tharanisantosh commented on #1833
Please Assign this to me.

[2022-03-12 04:21] tharanisantosh commented on #1832
Please Assign this to me.

[2022-03-12 04:21] tharanisantosh commented on #1831
Please Assign this to me.

[2022-03-12 04:21] tharanisantosh commented on #1830
Please Assign this to me.

[2022-03-12 04:22] tharanisantosh commented on #1829
Please Assign this to me.

[2022-03-12 04:22] tharanisantosh commented on #1828
Please Assign this to me.

[2022-03-12 04:22] tharanisantosh commented on #1827
Please Assign this to me.

[2022-03-12 04:26] tharanisantosh commented on #954
@Hassan, If this is still pending can i also contribute to do it.

[2022-03-12 05:35] tharanisantosh commented on #1762
Closes #2084

[2022-03-12 17:15] hassan commented on #954
? I have no idea what this is about or why I was tagged here.

[2022-03-13 00:44] ShriHumrudha commented on #954
@hassan sorry for the trouble.

[2022-03-13 00:45] ShriHumrudha commented on #954
@tharanisantosh , Hassan's tag is this @hassanhabib

[2022-03-13 00:47] #1826 closed

[2022-03-13 00:47] #1825 closed

[2022-03-13 00:47] #1824 closed

[2022-03-13 00:47] #1823 closed

[2022-03-13 00:48] #1822 closed

[2022-03-13 00:48] #1821 closed

[2022-03-13 00:48] #1820 closed

[2022-03-13 00:48] #1818 closed

[2022-03-13 00:48] #1762 closed

[2022-03-15 19:11] hassanhabib opened #2110 "CODE RUB: Order Crud Operations for Interface/Implementation"
Every foundation service should follow the following order of implementation:

[code]

For example:
[code]

The `RetrieveAttachmentByIdAsync` should not come before the `RetrieveAllAttachments` so we need fix it so it looks like this:

[code]

The same thing with the implementation for concrete classes for example:

[code]

We need to fix it to be according to CRUD order as follows:

[code]

This

[2022-03-22 23:17] #1293 closed

[2022-03-29 04:48] hoxhaleo319 commented on #1973
@hassanhabib this is already completed by someone else before I got to it.

[2022-03-29 04:57] ElbekDeveloper opened #2200 "CODE RUB: Indent Parameters"
https://github.com/hassanhabib/OtripleS/blob/master/OtripleS.Web.Api/Services/Foundations/AssignmentAttachments/AssignmentAttachmentService.Validations.cs

Line 50 needs to be broker into 2 parts

[2022-03-29 04:58] ElbekDeveloper commented on #2200
Assigned to @hoxhaleo319

[2022-03-31 03:18] hoxhaleo319 commented on #2200
@ElbekDeveloper I made the change to move line 50 to it's separate line.

[2022-05-01 23:06] ShriHumrudha commented on #2200
Closed via #2214

[2022-05-01 23:06] #2200 closed

[2022-05-01 23:07] ShriHumrudha commented on #2110
@Noahmahi2019 Please confirm if this is completed.

[2022-05-01 23:08] #1995 closed

[2022-05-01 23:08] #1994 closed

[2022-05-01 23:09] #1973 closed

[2022-05-01 23:09] ShriHumrudha commented on #1971
@devanteconnor Please confirm if this is resolved?

[2022-05-01 23:09] ShriHumrudha commented on #1968
@moisesjgomez please confirm if this is resolved.

[2022-05-01 23:10] ShriHumrudha commented on #1967
@moisesjgomez Please confirm if this is resolved.

[2022-05-01 23:10] ShriHumrudha commented on #1966
@moisesjgomez Please confirm if this is resolved

[2022-05-06 19:02] ShriHumrudha commented on #2110
Closing after the confirmation.

[2022-05-06 19:02] #2110 closed

[2022-05-06 19:04] ShriHumrudha commented on #1971
@Noahmahi2019 is assigned here

[2022-05-06 19:07] ShriHumrudha commented on #1968
@Noahmahi2019 is assigned here

[2022-05-06 19:08] ShriHumrudha commented on #1967
@Noahmahi2019 is assigned here

[2022-05-06 19:09] ShriHumrudha commented on #1966
@Noahmahi2019 is assigned here

[2022-05-06 19:10] #1835 closed

[2022-05-06 19:11] #1834 closed

[2022-05-06 19:13] #1833 closed

[2022-05-06 19:13] #1832 closed

[2022-05-06 19:13] #1831 closed

[2022-05-06 19:13] #1830 closed

[2022-05-06 19:14] #1829 closed

[2022-05-06 19:14] #1828 closed

[2022-05-06 19:14] #1827 closed

[2022-05-06 19:14] #1819 closed

[2022-05-06 19:15] #1817 closed

[2022-05-06 19:16] ShriHumrudha commented on #1816
@Noahmahi2019 is assigned here.

Rename the below file to 'AttachmentServiceTests.Logic.RetrieveAll.cs'
![image](https://user-images.githubusercontent.com/89320816/167203301-d667df86-a429-4a3d-808f-faf66984a35c.png)

[2022-05-06 19:16] #1765 closed

[2022-05-06 19:17] #1764 closed

[2022-05-06 19:17] #1763 closed

[2022-05-06 19:17] #1761 closed

[2022-05-06 19:18] #1749 closed

[2022-05-06 19:18] #1601 closed

[2022-05-06 19:20] #941 closed

[2022-05-06 19:20] #640 closed

[2022-05-06 19:20] #953 closed

[2022-05-06 19:20] ShriHumrudha commented on #1238
@Noahmahi2019 is assigned here.

[2022-05-06 19:21] ShriHumrudha commented on #954
@tharanisantosh Go for it

[2022-05-06 19:23] ShriHumrudha opened #2286 "CODE RUB: New Line Space Required"
![image](https://user-images.githubusercontent.com/89320816/167204179-de340ae2-ef28-4d3f-a42b-c2ba43161055.png)

Assigning to @Noahmahi2019

[2022-05-06 19:27] #600 closed

[2022-05-06 19:29] #593 closed

[2022-05-06 19:32] #574 closed

[2022-05-06 19:34] #552 closed

[2022-05-07 01:52] tharanisantosh commented on #954
Thanks Humrudha.

[2022-05-14 01:27] #2286 closed

[2022-05-14 01:28] #575 closed

[2022-06-07 09:08] Spectralgo opened #2313 "CODE RUB: Change file name from TeacherContacts.cs to TeacherContact.cs"

[2022-06-21 06:32] hassanhabib opened #2316 "CODE RUB: Upgrade to New Xeption Standard"
For reference:
https://www.youtube.com/watch?v=AlBq-3_EXb0&t=1728s

[2022-09-07 09:12] Rashidovicc commented on #2313
I changed this issue

[2022-09-07 09:25] Rashidovicc commented on #2313
![image](https://user-images.githubusercontent.com/105649270/188842913-5670e3f4-22b9-4cb0-8f7d-0f7f9f5ddad6.png)
I change this issue but I can't push @Spectralgo

[2022-09-07 09:28] MuhammadKasimov opened #2417 "old packages"
Hello everyone I'm Muhammad Muhammad Kasimov and I wanted to contribute OrtipleS project I found that there were installed packages for dotnet 6 but project in 7.
There are preview versions of EntityFramework but for example Swashbuckle.AspNetCore latest version is for dotnet 6

[2022-09-07 09:34] Spectralgo commented on #2313
Hi @Rashidovicc :) Did you fork the repo to your own account and then cloned it from there or did you cmon it directly from this repo?

[2022-09-07 09:36] Rashidovicc commented on #2313
@Spectralgo I cloned directly from this repo
Should I fork and then clone?

[2022-09-07 09:37] Spectralgo commented on #2313
Yes

[2022-09-07 09:37] Rashidovicc commented on #2313
ok I understand

[2022-09-07 09:39] Spectralgo commented on #2313
@Rashidovicc fork, and then clone it from tou own repo. The pull request button should appear on your GitHub account after you pushed the changes to you own repo

[2022-09-07 10:28] Dastanbayev commented on #2313
After the fork, should I create a new branch and push to this branch or to my 'master' branch?

[2022-09-07 10:38] Dastanbayev commented on #2313
@Rashidovicc everything is ok.

[2022-09-07 10:38] Spectralgo commented on #2313
Do not merge to your master, just push your branch to GitHub and do he pull request.

[2022-09-07 12:47] Rashidovicc opened #2420 "CODE RUB: Since IAudiatable is an interface, it should be Class"
IAuditable's properties are reset on all models, isn't that redundant?

[2022-09-07 12:48] Rashidovicc commented on #2420
@hassanhabib

[2022-09-07 14:04] ElbekDeveloper commented on #2420
@Rashidovicc we will get rid of this entanglement later.

[2022-09-07 14:07] ElbekDeveloper commented on #2417
Hi @MuhammadKasimov. I hope you are doing great. EF had issues with latest version. Please, watch this video to learn more about this issue and how Ustadh @hassanhabib has fixed it during the recording https://www.youtube.com/watch?v=V7fCqKjN4zA

[2022-09-07 23:00] MuhammadUmarqulov opened #2422 "warning for "DRY" principles."
with it, there is a violation of the DRY principle
partial classes "StorageBroker" that can have the generic name function ("SelectByIdAsync", "InsertAsync", "DeleteAsync",
"UpdateAsync", "SelectAll") bodies have the same idea. you should avoid this by using generic classes

_If you let me know if my idea is valid, I would contribute to this project._

[2022-09-08 03:47] MuhammadKasimov commented on #2417
Hello @ElbekDeveloper thanks for answer

[2022-09-08 05:39] #2313 closed

[2022-09-08 13:39] MuhammadKasimov opened #2424 "interfaces and their implentation is in the same folder"
interfaces in their implentation is in the same folder
i advice to add new interfaces folder

[2022-09-08 15:05] Maksudovich opened #2426 "Warning For DRY Princple in Services"
Ortiples.Web.Api.Services.Foundations
There are lines that do not meet the dry principle. only 4 brokers are used in all services, these should be taken out separately as an abstract class.

[2022-09-08 15:06] Maksudovich commented on #2426
@hassanhabib

[2022-09-09 13:19] ElbekDeveloper commented on #2426
@Maksudovich this would entangle the application. As a result, it becomes harder to decouple and split into microservices later on. Remember we build monolith with microservices in mind

DRY is a double-edged sword. You should know the exact limit where to apply it.

[2022-09-09 13:20] ElbekDeveloper commented on #2424
Then you have to jump between folders when you want to split or, just, view the class and its interface

[2022-09-09 13:21] ElbekDeveloper commented on #2422
this would entangle the application. As a result, it becomes harder to decouple and split into microservices later on. Remember we build monolith with microservices in mind

DRY is a double-edged sword. You should know the exact limit where to apply it.

[2022-09-10 05:39] #2424 closed

[2022-09-10 06:41] ElbekDeveloper commented on #2417
I think this can be closed now

[2022-09-10 06:41] #2417 closed

[2022-09-10 09:37] Maksudovich commented on #2426
ok thank's

[2022-09-11 08:19] Rashidovicc commented on #2426
@ElbekDeveloper this issue should be closed.

[2022-09-12 14:12] #2426 closed

[2022-09-14 03:46] #2422 closed

[2022-09-14 03:46] #2420 closed